{#
/**
 * @file Navbar!
 *
 * Available variables:
 * - navbar_classes: Array: The html classes for the navbar.
 * - navbar_other_classes: Array: The classes from YAML to merge into navbar_classes.
 * - navbar.arialebelledby: String: The aria labelled by value.
 * - navbar.attributes: Array: Attributes for the Navbar.
 * - navbar.brand_link: String: The URL the brand text will link to.
 * - navbar.brand_text: String: The text of the brand.
 * - navbar.id: String: The html id for the navbar.
 *
 */
#}
{% set navbar_classes = navbar_other_classes|default([])|merge([
  'navbar',
]) | sort | join(' ') | trim %}
<nav role="navigation" aria-labelledby="{{ navbar.arialebelledby }}" {{ navbar.attributes }} class="{{ flex flex-wrap list-reset pl-0 mb-0bar_classes }}">
	{% block navbar_brand %}
		<a class="flex flex-wrap list-reset pl-0 mb-0bar-brand" href="{{ navbar.brand_link }}">{{ navbar.brand_text }}</a>
		{# collapse button #}
		{% include '@atoms/button/_button.twig' with {
      button_color: 'none',
      button_other_classes: 'navbar-toggler',
      button_toggle: 'collapse',
      button_other_attributes: 'data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"',
      button_text: '<span class="flex flex-wrap list-reset pl-0 mb-0bar-toggler-icon"></span>',
    } %}
	{% endblock navbar_brand %}
	{# navbar #}
	{% block navbar_content %}
		<div class="flex-growlapse flex flex-wrap list-reset pl-0 mb-0bar-collapse" id="{{ navbar.id }}">
			{% include '@molecules/nav/_nav.twig' with {
        nav_element: 'ul',
        nav_other_classes: 'navbar-nav mr-auto',
        nav_items: navbar.items,
      } %}
			<form class="flex items-center my-2 my-lg-0">
				<input class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-grey-darker border border-grey rounded mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				{% include '@atoms/button/_button.twig' with {
          button_color: 'primary',
          button_other_classes: 'my-2 my-sm-0',
          button_type: 'submit',
          button_text: 'Search'
        } %}
			</form>
		</div>
	{% endblock navbar_content %}
</nav>
