{#
/**
 * @file Video Hero!
 * Implements a video hero block based on the UTC Hero block with images.
 *
#}
{%
  set classes = [
    'block',
	'block--layout-builder', 
	'block--inline-block:utc-hero-video',
	'block--utc-video-hero',
    'block--utc-video-hero-full-reverse',
	'w-full',
	'shadow-utc',
    'lg:mt-36',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
    {% if label %}
      <h2{{ title_attributes }}>
         <span class="title-text">{{ label }}</span>
      </h2>
    {% endif %}
  {{ title_suffix }}
	{% block content %}
		{{ attach_library('utccloud/utc-hero-video') }}

		{% set rendered_content = content|render %}
		{# Sets variable to trigger content render array. #}
		{# hero_button_link: content.field_hero_button|field_value, #}
		{#{% set hero_image_select = content["#block_content"].field_hero_bg_image.0.target_id %}#}

		{% set utc_hero = {
			hero_bg: content.field_hero_bg_image|field_value,
			hero_align: content["#block_content"].field_hero_align.0.value,
			hero_color: content["#block_content"].field_hero_color.0.value,
			hero_tag: content.field_hero_tag_text|field_value,
			hero_title: content.field_hero_title|field_value,
			hero_video: content.field_video_hero,
			hero_text: content.field_hero_text|field_value,
			hero_button_text: content.field_hero_button.0['#title'],
			hero_button_url: content.field_hero_button.0['#url'],
			hero_parameters: content.field_video_parameters|field_value,
			hero_otherhost: content.field_cloudflare_or_videodeliver|field_value,
		} %}

		{# Sets colors for hero content depending on selection #}
		{% if utc_hero.hero_color == 'Dark Blue' %}
			{% set title_color = 'text-white' %}
			{% set body_color = 'text-white' %}
			{% set tag_color = 'text-white' %}
			{% set btn_border_color = "border-white" %}
			{% set bg_color = 'background-color:#112e51;' %}
			{% set btn_class = "default" %}
			{% set bg1_opacity = '' %}
			{% set bg2_opacity = 'opacity:.87;' %}
			{% set hr_color = 'border-utc-new-gold-500' %}
		{% else %}
			{% set title_color = 'text-utc-new-blue-500' %}
			{% set body_color = 'text-base' %}
			{% set tag_color = 'text-base' %}
			{% set btn_border_color = "border-utc-new-blue-500" %}
			{% set btn_class = "light-gray-hero" %}
			{% set bg_color = 'background-color:#5c7fb4;' %}
			{% set bg1_opacity = 'opacity-25' %}
			{% set bg2_opacity = 'opacity:.12;' %}
			{% set hr_color = 'border-utc-new-blue-500' %}
		{% endif %}
		{# image on left #}
		{% if utc_hero.hero_align == 'Left' %}
			{% block herobackgroundleft %}
				<div class="video-hero-wrapper w-full h-full px-12 pt-12 relative">
					<span class="absolute left-0 top-0 right-0 bottom-0 overflow-hidden {{ bg1_opacity }}">{{ utc_hero.hero_bg }}</span>
					<div class="absolute left-0 top-0 hero-background-color h-full w-full " style="{{ bg2_opacity }} {{ bg_color }}"></div>
					<div class="utc-video-hero-container utc-video-hero-block-left flex flex-col lg:grid lg:grid-cols-utcvideohero lg:gap-10 relative ">
						<div class="lg:-mt-28 lg:mb-20">
							<div class="video-hero {{ utc_hero.hero_parameters[0] }} {{ utc_hero.hero_parameters[1] }} {{ utc_hero.hero_parameters[2] }} ">{{ utc_hero.hero_video }}{{ utc_hero.hero_otherhost }}</div>
						</div>
						<div class="flex flex-col justify-center shrink relative mb-8">
							{% if utc_hero.hero_tag %}
								<p class="hero-tag text-left font-semibold tracking-wide uppercase text-lg mb-0 mt-4 {{ tag_color }}">
									{{ utc_hero.hero_tag }}
								</p>
								<hr class="border-t-3 {{ hr_color }} mt-2 mb-6 w-20 ml-0" />
							{% endif %}
							{% if utc_hero.hero_title %}
								<h2 class="text-left mb-2 {{ title_color }}">
									{{ utc_hero.hero_title }}
								</h2>
							{% endif %}
							{% if utc_hero.hero_text %}
								<p class="text-left text-lg text-base {{ body_color }}">
									{{ utc_hero.hero_text }}
								</p>
							{% endif %}
							{% if utc_hero.hero_button_url %}
								<p class="my-6 text-right">
									<a href="{{ utc_hero.hero_button_url}}" class="diagonal {{ btn_class }}" aria-label="{{ utc_hero.hero_button_text }}">
										{{ utc_hero.hero_button_text }} <i class="fas fa-angle-right font-semibold ml-1"></i>
									</a>
								</p>
							{% endif %}
						</div>
					</div>
				</div>
			{% endblock herobackgroundleft %}
		{% else %}
		{# image on right #}	
			{% block herobackgroundright %}
				<div class="video-hero-wrapper w-full h-full px-12 pt-12 relative">
					<span class="absolute left-0 top-0 right-0 bottom-0 overflow-hidden {{ bg1_opacity }}">{{ utc_hero.hero_bg }}</span>
					<div class="absolute left-0 top-0 hero-background-color h-full w-full " style="{{ bg2_opacity }} {{ bg_color }}"></div>
					<div class="utc-video-hero-container utc-video-hero-block-right flex flex-col-reverse lg:grid lg:grid-cols-utcvideoheroright lg:gap-10 relative ">
						<div class="flex flex-col justify-center shrink relative">
							{% if utc_hero.hero_tag %}
								<p class="hero-tag text-left font-semibold tracking-wide uppercase text-lg mb-0 mt-4 {{ tag_color }}">
									{{ utc_hero.hero_tag }}
								</p>
								<hr class="border-t-3 {{ hr_color }} mt-2 mb-6 w-20 ml-0" />
							{% endif %}
							{% if utc_hero.hero_title %}
								<h2 class="text-left mb-2 {{ title_color }}">
									{{ utc_hero.hero_title }}
								</h2>
							{% endif %}
							{% if utc_hero.hero_text %}
								<p class="text-left text-lg text-base {{ body_color }}">
									{{ utc_hero.hero_text }}
								</p>
							{% endif %}
							{% if utc_hero.hero_button_url %}
								<p class="my-6 text-right">
									<a href="{{ utc_hero.hero_button_url}}" class="diagonal {{ btn_class }}" aria-label="{{ utc_hero.hero_button_text }}">
										{{ utc_hero.hero_button_text }} <i class="fas fa-angle-right font-semibold ml-1"></i>
									</a>
								</p>
							{% endif %}
						</div>
						<div class="lg:-mt-28 lg:mb-20">
							<div class="video-hero {{ utc_hero.hero_parameters[0] }} {{ utc_hero.hero_parameters[1] }} {{ utc_hero.hero_parameters[2] }}">{{ utc_hero.hero_video }}{{ utc_hero.hero_otherhost }}</div>
						</div>
					</div>
				</div>
			{% endblock herobackgroundright %}		
		{% endif %}
	{% endblock %}
</div>