{% extends "block.html.twig" %}
{#
/**
 * @file Card Grid!
 * Implements a grid of cards using Bootstrap layout.
 *
 * Available variables:
 */
 *
 * This template pulls in the variables to add to the cards. 
 * References the block--utc-card-base.html.twig to create the individual cards in this grid.
#}
 
{% block content %}
	{% set rendered_content = content|render %}
	{# Sets variable to trigger content render array. #}

	{# set variables for card content based on Drupal input #}
	{# hero_tag: content.field_hero_tag|field_value, #}
	{% set utc_hero = {
    hero_title: content.field_hero_title|field_value,
    hero_image: content.field_utc_media|field_value,
    hero_text: content.field_hero_body|field_value,
    hero_button_text: content.field_hero_button.0['#title'],
    hero_button_url: content.field_hero_button.0['#url'],
    } %}

	<div class="grid grid-rows-utchero grid-flow-col gap-4 bg-gray-100"> 

		{% if utc_hero.hero_title %}
				<h2 class="col-span-2 text-center mt-32" >
					{{ utc_hero.hero_title }}
				</h2>
		{% endif %}
		{% if utc_hero.hero_text %}
				<h3 class="row-span-2 col-span-2 text-center">
					{{ utc_hero.hero_text}}
				</h3>
		{% endif %}
		{% if utc_hero.hero_image %}
				<div class="row-span-3 mt-12 -mb-12">{{ utc_hero.hero_image }} </div>
		{% endif %}
		{% if utc_hero.hero_button_url %}
				<a>
					{{ utc_hero.hero_button_text}}
					{{ hero_button_url}}
				</a>
		{% endif %}

	</div>




{% endblock %}