{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{# removes bottom margin standard with block class #}
{% set attributes = attributes.removeClass('block') %}
{% set btn_attribute = create_attribute() %}
	{% block content %}
	{% set button_style_select = content["#block_content"].field_button_type.0.target_id %}
	{% set button_style = drupal_field('field_css_class', 'taxonomy_term', button_style_select)["#object"].field_css_class.value %}

	{% set button_group = {
		title: content.field_button_group_title|field_value,
		title_align: content["#block_content"].field_button_group_align_title.0.value,
		title_color: button_style == 'btn btn--white-outline' ? 'btn-group__title--white',
		top_margin: content["#block_content"].field_button_top_margin.0.value, 
		bottom_margin: content["#block_content"].field_button_bottom_margin.0.value,
		size:  content.field_button_size|field_value|render,
		
	}
	%}

	{%
  set btn_classes = [
    'btn-block',
	button_style,
	'btn--' ~ button_group.size, 
	'btn-group__btn',
  ]
%}

		<div{{content_attributes}}>
			<div class="container {{ button_group.top_margin }} {{ button_group.bottom_margin }}"> 
			{% if button_group.title %}
				<h2 class="btn-group__title {{ button_group.title_color }} {{ button_group.title_align }}">
					{{ button_group.title }}
				</h2>
			{% endif %}
			{% if "On" in content.field_two_rows.0 %}
				{% set btn_count = 0 %}
				{% for button in content.field_button_link if button['#url'] is not empty %}
					{% set btn_count = btn_count + 1 %}
				{% endfor %}

				<div class="row">
					{% for button in content.field_button_link if button['#url'] is not empty %}
						{% if loop.index <= (btn_count / 2) %}
							<div class="col-md mt-3">
								<a{{btn_attribute.addClass(btn_classes)}} href="{{ button['#url'] }}">
									{{ button['#title']|striptags('<i>')|raw }} 
								</a>
							</div>
						{% endif %}
					{% endfor %}
				</div>
				<div class="row">
					{% for button in content.field_button_link if button['#url'] is not empty %}
						{% if loop.index > (btn_count / 2) %}
							<div class="col-md mt-3">
								<a{{btn_attribute.addClass(btn_classes)}} href="{{ button['#url'] }}">
									{{ button['#title']|striptags('<i>')|raw }} 
								</a>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			{% else %}
				<div class="row">
					{% for button in content.field_button_link if button['#url'] is not empty %}
						<div class="col-md mt-3">
							<a{{btn_attribute.addClass(btn_classes)}} href="{{ button['#url'] }}">
								{{ button['#title']|striptags('<i>')|raw }} 
							</a>
						</div>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>

{% endblock %}
