{% extends "block.html.twig" %}
{#
/**
 * @file Card Grid!
 * Implements a hero block in dark blue
 *
 *
 * Available variables:
 */
 *
 * This template pulls in the variables to add to the cards. 
 * References the block--utc-card-base.html.twig to create the individual cards in this grid.
#}

{% block content %}
	{% set rendered_content = content|render %}
	{# Sets variable to trigger content render array. #}
	{# hero_button_link: content.field_hero_button|field_value, #}
	{% set hero_image_select = content["#block_content"].field_hero_bg_image.0.target_id %}
	{% set utc_hero = {
	hero_bg: drupal_field('field_image_url', 'taxonomy_term', hero_image_select)["#object"].field_image_url.value,
	hero_align: content["#block_content"].field_hero_align.0.value,
	hero_color: content["#block_content"].field_hero_color.0.value,
	hero_tag: content.field_hero_tag|field_value,
    hero_title: content.field_hero_title|field_value,
    hero_image: content.field_utc_media|field_value,
    hero_text: content.field_hero_text|field_value,
    hero_button_text: content.field_hero_button.0['#title'],
    hero_button_url: content.field_hero_button.0['#url'],
    } %}
	{# Sets colors for hero content depending on selection #}
	{% if utc_hero.hero_color == 'Dark Blue' %}
	{% set title_color = 'lg:text-white' %}
	{% set body_color = 'lg:text-white' %}
	{% set bg_color = 'bg-utc-new-blue-500' %}
	{% else %}
	{% set title_color = 'text-utc-new-blue-500' %}
	{% set body_color = 'text-base' %}
	{% set bg_color = 'bg-utc-new-blue-300' %}
	{% endif %}



		 
		{% if utc_hero.hero_align == 'Left' %}
		<div class="lg:grid lg:grid-rows-utchero lg:grid-cols-utchero lg:grid-flow-row lg:mb-4 2xl:grid-cols-utcherolarge text-center">
			{% if utc_hero.hero_image %}
				<div class="2xl:col-start-2 lg:col-start-1 md:col-start-1 lg:col-end-3 lg:row-start-2 lg:row-end-5 lg:m-auto lg:mt-8 col-span-1 z-30">
				{{ utc_hero.hero_image }} 
				</div>
			{% endif %}

				<div class="lg:col-start-3 md:col-start-1 lg:col-end-4 lg:row-start-2 lg:row-end-3 lg:mx-8 p-4 pb-0 lg:pb-4 z-30 self-end">
		{% else %}
		<div class="lg:grid lg:grid-rows-utchero lg:grid-cols-utcheroright lg:grid-flow-row lg:mb-4  2xl:grid-cols-utcherolargeright text-center">
			{% if utc_hero.hero_image %}
				<div class="lg:col-start-3 lg:col-end-5 md:col-start-1 2xl:col-end-4 lg:row-start-2 lg:row-end-5 lg:m-auto lg:mt-8 z-30">
				{{ utc_hero.hero_image }}
				</div>
			{% endif %}
		
				<div class="2xl:col-start-2 lg:col-start-2 md:col-start-1 lg:col-end-2 lg:row-start-2 lg:row-end-3 lg:mx-8 py-4 px-6 pb-0 lg:pb-4 col-span-1 z-30 self-end">
		{% endif %}
			{% if utc_hero.hero_tag %}
				<p class="text-left font-semibold tracking-wide uppercase text-lg {{ body_color }}">
					{{ utc_hero.hero_tag }}
				</p>
				<hr class="border-t-3 border-utc-new-gold-500 mt-2 mb-6 w-20" />
			{% endif %}
			{% if utc_hero.hero_title %}
				<h2 class="text-left {{ title_color }}">
					{{ utc_hero.hero_title }}
				</h2>
			{% endif %}
			</div>
			{% if utc_hero.hero_align == 'Left' %}
			<div class="lg:col-start-3 md:col-start-1 lg:col-end-4 lg:row-start-3 lg:row-end-4 lg:mx-8 p-4 z-30 pt-0 lg:pt-4">
			{% else %}
			<div class="2xl:col-start-2 lg:col-start-2 md:col-start-1 lg:col-end-2 lg:row-start-3 lg:row-end-4 lg:mx-8 p-4 col-span-1 z-30 pt-0 lg:pt-4">
			{% endif %}
			{% if utc_hero.hero_text %}
				<p class="text-left text-lg text-base">
					{{ utc_hero.hero_text}}
				</p>
			{% endif %}
			{% if utc_hero.hero_button_url %}
				{% if utc_hero.hero_button_text %}
					<p class="mt-6 xl:mr-16 text-right">
						<a href="{{ utc_hero.hero_button_url}}" class="font-semibold transition duration-500 ease-in-out text-base hover:bg-utc-new-blue-500 hover:text-white transform hover:scale-105 py-2 px-4 border border-utc-new-blue-500" aria-label="Read the release">
							Learn more <i class="fas fa-angle-right text-utc-new-gold-500 font-semibold ml-1"></i></a>
					</p>
					{% endif %}
				{% endif %}

				</div>

			<div class="w-full h-full bg-cover bg-center z-10 md:col-start-1 md:col-end-5 md:row-start-1 md:row-end-3" style="background-image: url({{ utc_hero.hero_bg }})">
			
				<div class="h-full w-full bg-opacity-90 {{ bg_color }}"></div>
				</div>
		


		</div>


	{% endblock %}