{% extends "block.html.twig" %}
{#
/**
 * @file Card Grid!
 * Implements a hero block in dark blue
 *
 *
 * Available variables:
 */
 *
 * This template pulls in the variables to add to the cards. 
 * References the block--utc-card-base.html.twig to create the individual cards in this grid.
#}

{% block content %}
	{% set rendered_content = content|render %}
	{# Sets variable to trigger content render array. #}
	{% set highlight_image_select = content["#block_content"].field_highlight_info_bg.0.target_id %}
	{% set utc_highlight = {
		highlight_bg: drupal_field('field_image_url', 'taxonomy_term', highlight_image_select)["#object"].field_image_url.value,
		bg_color: content["#block_content"].field_highlight_background_color.0.value,
		title: content.field_highlighted_info_title|field_value,
		info_1: content.field_highlight_info_1|field_value,
		info_2: content.field_highlight_info_2|field_value,
		info_3: content.field_highlight_info_3|field_value,
		info_4: content.field_highlight_info_4|field_value,
		info_5: content.field_highlight_info_5|field_value,
		info_6: content.field_highlight_info_6|field_value,
		info_7: content.field_highlight_info_7|field_value,
		info_8: content.field_highlight_info_8|field_value,
		description_1: content.field_highlight_description_1|field_value,
		description_2: content.field_highlight_description_2|field_value,
		description_3: content.field_highlight_description_3|field_value,
		description_4: content.field_highlight_description_4|field_value,
		description_5: content.field_highlight_description_5|field_value,
		description_6: content.field_highlight_description_6|field_value,
		description_7: content.field_highlight_description_7|field_value,
		description_8: content.field_highlight_description_8|field_value,
		icon_1: content.field_highlight_icon_1|field_value,
		icon_2: content.field_highlight_icon_2|field_value,
		icon_3: content.field_highlight_icon_3|field_value,
		icon_4: content.field_highlight_icon_4|field_value,
		icon_5: content.field_highlight_icon_5|field_value,
		icon_6: content.field_highlight_icon_6|field_value,
		icon_7: content.field_highlight_icon_7|field_value,
		icon_8: content.field_highlight_icon_8|field_value,
    } %}

	{# Sets colors for hero content depending on selection #}
	{% if utc_highlight.bg_color == 'dark' %} 
		{% set info_color = 'text-utc-new-gold-500' %}
		{% set icon_color = 'text-white' %}
		{% set icon_color_2 = 'text-utc-new-blue-500' %}
		{% set info_color_2 = 'text-utc-new-blue-500' %}
		{% set description_color = 'text-white' %}
		{% set description_color_2 ='text-utc-new-blue-500' %}
		{% set bg_color = 'background-color:#112e51' %}
		{% set bg1_opacity = '' %}
    	{% set bg2_opacity = 'opacity-90' %}
		{% set bg_color_2 = 'bg-utc-new-blue-100' %}
	{% else %}
		{% set info_color = 'text-utc-new-blue-500' %}
		{% set icon_color = 'text-utc-new-blue-500' %}
		{% set icon_color_2 = 'text-utc-new-gold-500' %}
		{% set info_color_2 = 'text-utc-new-gold-500' %}
		{% set description_color = 'text-utc-new-blue-500' %}
		{% set description_color_2 ='text-white' %}
		{% set bg_color = 'background-color:#104dd4' %}
		{% set bg1_opacity = 'opacity-20' %}
    	{% set bg2_opacity = 'opacity-20' %}
		{% set bg_color_2 = 'bg-utc-new-blue-500' %}
	{% endif %}


	{% set description_classes = [
  		'p-10',
		'xl:w-1/2',
		'w-full',
		'text-xl',
		'text-center',
		description_color,
	] | sort | join(' ') | trim %}

	{% set info_classes = [
  		'block',
		'pb-2',
  		'text-4xl',
		'font-bold',
		info_color,
	] | sort | join(' ') | trim %}

	{% set description_classes_2 = [
  		'p-10',
		'w-full',
		'text-xl',
		description_color_2,
	] | sort | join(' ') | trim %}

	{% set info_classes_2 = [
  		'block',
		'pb-2',
  		'text-4xl',
		'font-bold',
		info_color_2,
	] | sort | join(' ') | trim %}

	<div class="grid grid-cols-1 lg:grid-cols-utchighlight lg:grid-rows-utchighlight lg:gap-y-4 lg:gap-x-10 grid-flow-row">
			<div class="col-start-1 row-start-1 m-10 mt-20 lg:m-0 lg:col-start-2 lg:col-end-3 lg:row-start-2 lg:row-end-4 lg:mb-10 z-10">
				{% if utc_highlight.title %}
					<h2 class="pl-6 {{ description_color }}">{{ utc_highlight.title }}</h2>
					<hr class="border-t-3 border-utc-new-gold-500 mt-3 mb-6 ml-8 w-20" />
				{% endif %}
					<ul class="flex flex-row flex-wrap list-none pl-0 mb-0">
						{% if utc_highlight.info_1 %}
							<li class="{{ description_classes }}">
							{% if utc_highlight.icon_1 %}
							<div class="mb-4 {{ icon_color }}">{{ utc_highlight.icon_1 }}</div>
							{% endif %}
							<span class="{{ info_classes }}">{{ utc_highlight.info_1 }}</span>
							{{ utc_highlight.description_1 }}
							</li>
						{% endif %}
						{% if utc_highlight.info_2 %}
							<li class="{{ description_classes }}">
							{% if utc_highlight.icon_2 %}
							<div class="mb-4 {{ icon_color }}">{{ utc_highlight.icon_2 }}</div>
							{% endif %}
							<span class="{{ info_classes }}">{{ utc_highlight.info_2 }}</span>
							{{ utc_highlight.description_2 }}
							</li>
						{% endif %}
						{% if utc_highlight.info_3 %}
							<li class="{{ description_classes }}">
							{% if utc_highlight.icon_3 %}
							<div class="mb-4 {{ icon_color }}">{{ utc_highlight.icon_3 }}</div>
							{% endif %}
							<span class="{{ info_classes }}">{{ utc_highlight.info_3 }}</span>
							{{ utc_highlight.description_3 }}
							</li>
						{% endif %}
						{% if utc_highlight.info_4 %}
							<li class="{{ description_classes }}">
							{% if utc_highlight.icon_4 %}
							<div class="mb-4 {{ icon_color }}">{{ utc_highlight.icon_4 }}</div>
							{% endif %}
							<span class="{{ info_classes }}">{{ utc_highlight.info_4 }}</span>
							{{ utc_highlight.description_4 }}
							</li>
						{% endif %}
					</ul>
			</div>
			<div class="w-full h-full {{ bg1_opacity }} bg-cover bg-center col-start-1 col-end-5 row-start-1 row-end-4" style="background-image: url({{ utc_highlight.highlight_bg }})">
				<div class="h-full w-full {{ bg2_opacity }}" style="{{ bg_color }}"></div>
			</div>
			<div class="w-full h-full  bg-cover bg-center col-start-1 row-start-3 lg:col-start-3 lg:col-end-4 lg:row-start-2 lg:row-end-5 z-20">
				<div class="h-full w-full {{ bg_color_2 }}">
					<ul class="flex flex-row flex-wrap justify-around list-none pt-10 m-6 pl-0">
						{% if utc_highlight.info_5 %}
							<li class="{{ description_classes_2 }}">
							{% if utc_highlight.icon_5 %}
							<div class="flex flex-row">
							<div class="mb-4 mr-4 {{ icon_color_2 }}">{{ utc_highlight.icon_5 }}</div>
							{% endif %}
							{% if utc_highlight.icon_5 %}
							<div>
							{% endif %}
							<span class="{{ info_classes_2 }}">{{ utc_highlight.info_5 }}</span>
							{{ utc_highlight.description_5 }}
							{% if utc_highlight.icon_5 %}
							</div>
							</div>
							{% endif %}
							</li>
						{% endif %}
						{% if utc_highlight.info_6 %}
							<li class="{{ description_classes_2 }}">
							{% if utc_highlight.icon_6 %}
							<div class="flex flex-row">
							<div class="mb-4 mr-4 {{ icon_color_2 }}">{{ utc_highlight.icon_6 }}</div>
							{% endif %}
							{% if utc_highlight.icon_6 %}
							<div>
							{% endif %}
							<span class="{{ info_classes_2 }}">{{ utc_highlight.info_6 }}</span>
							{{ utc_highlight.description_6 }}
							{% if utc_highlight.icon_6 %}
							</div>
							</div>
							{% endif %}
							</li>
						{% endif %}
						{% if utc_highlight.info_7 %}
							<li class="{{ description_classes_2 }}">
							{% if utc_highlight.icon_7 %}
							<div class="flex flex-row">
							<div class="mb-4 mr-4 {{ icon_color_2 }}">{{ utc_highlight.icon_7 }}</div>
							{% endif %}
							{% if utc_highlight.icon_7 %}
							<div>
							{% endif %}
							<span class="{{ info_classes_2 }}">{{ utc_highlight.info_7 }}</span>
							{{ utc_highlight.description_7 }}
							{% if utc_highlight.icon_7 %}
							</div>
							</div>
							{% endif %}
							</li>
						{% endif %}
						{% if utc_highlight.info_8 %}
							<li class="{{ description_classes_2 }}">
							{% if utc_highlight.icon_8 %}
							<div class="flex flex-row">
							<div class="mb-4 mr-4 {{ icon_color_2 }}">{{ utc_highlight.icon_8 }}</div>
							{% endif %}
							{% if utc_highlight.icon_8 %}
							<div>
							{% endif %}
							<span class="{{ info_classes_2 }}">{{ utc_highlight.info_8 }}</span>
							{{ utc_highlight.description_8 }}
							{% if utc_highlight.icon_8 %}
							</div>
							</div>
							{% endif %}
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
{% endblock %}