{% extends "block--utc-hero--full.html.twig" %}
{#
/**
 * @file UTC Hero!
 * Implements a hero block using an image with zoom effect available.
 *
 *
 * Available variables:
 */
 *
 * This template pulls in the variables to add to the hero. 
 * References the block--utc-hero--full.html.twig.
#}
{%
  set classes = [
	'block--utc-image-hero',
	'block--utc-image-hero-full-reverse',
  ]
%}
{% block content %}
	{{ attach_library('utccloud/utc-hero-image') }}
	{% set rendered_content = content|render %}
	{# Sets variable to trigger content render array. #}
	{# hero_button_link: content.field_hero_button|field_value, #}
	
	{% set utc_hero = {
		hero_bg: content.field_hero_bg_image|field_value,
		hero_align: content["#block_content"].field_hero_align.0.value,
		hero_color: content["#block_content"].field_hero_color.0.value,
		hero_tag: content.field_hero_tag|field_value,
		hero_title: content.field_hero_title|field_value,
		hero_image: content.field_utc_media|field_value,
		hero_zoom: content.field_zoom_image[0]|render == 'On' ? '_blank',
		hero_text: content.field_hero_text|field_value,
		hero_button_text: content.field_hero_button.0['#title'],
		hero_button_url: content.field_hero_button.0['#url'],
		hero_button_2_text: content.field_hero_button_2.0['#title'],
		hero_button_2_url: content.field_hero_button_2.0['#url'],		
    } %}
	{# Add zoom class if zoom is checked. #}
	{% if utc_hero.hero_zoom %}
		{% set utc_zoom = 'utc-zoom-image' %}
	{% else %}
		{% set utc_zoom = '' %}
	{% endif %}
	{# Sets colors for hero content depending on selection #}
	{% if utc_hero.hero_color == 'Dark Blue' %}
		{% set title_color = 'text-white' %}
		{% set body_color = 'text-white' %}
		{% set tag_color = 'text-white' %}
		{% set btn_border_color = "lg:border-white" %}
		{% set bg_color = 'background-color:#112e51' %}
		{% set bg1_opacity = '' %}
    	{% set bg2_opacity = 'opacity-90' %}
	{% else %}
		{% set title_color = 'text-utc-new-blue-500' %}
		{% set body_color = 'text-base' %}
		{% set tag_color = 'text-base' %}
		{% set btn_border_color = "lg:border-utc-new-blue-500" %}
		{% set btn_class = "light-gray-hero" %}
		{% set bg_color = 'background-color:#104dd4' %}
		{% set bg1_opacity = 'opacity-20' %}
    	{% set bg2_opacity = 'opacity-20' %}
	{% endif %}
	<div {{ attributes.addClass(classes) }}>
		{% if utc_hero.hero_align == 'Left' %}
			<div class="utc-hero-block lg:grid lg:grid-rows-utcheroreverse lg:grid-cols-utchero lg:gap-y-4 lg:grid-flow-row lg:mb-4 text-center shadow-utcbottom relative">
				{% if utc_hero.hero_image %}
					<div class="lg:col-start-2 lg:col-end-3 lg:row-start-1 lg:row-end-4 lg:m-auto col-span-1 z-30 {{ utc_zoom }} shadow-utcbottom relative">
						{{ utc_hero.hero_image }} 
					</div>
				{% endif %}
					<div class="lg:col-start-3 lg:col-end-4 lg:row-start-2 lg:row-end-5 lg:my-auto lg:ml-8 p-4 z-30 relative">
		{% else %}
			<div class="utc-hero-block lg:grid lg:grid-rows-utcheroreverse lg:grid-cols-utcheroright lg:gap-y-6 grid-flow-row lg:mb-4 text-center">
				{% if utc_hero.hero_image %}
					<div class="lg:col-start-3 lg:col-end-4 lg:row-start-1 lg:row-end-4 lg:m-auto z-30 {{ utc_zoom }} relative">
						{{ utc_hero.hero_image }}
					</div>
				{% endif %}
					<div class="lg:col-start-2 lg:col-end-2 lg:row-start-2 lg:row-end-5 lg:mr-8 lg:my-auto py-4 lg:px-6 col-span-1 z-30 relative">
		{% endif %}
						{% block herocontent %}
							{{ parent() }}
						{% endblock %}
					</div>
		{% if utc_hero.hero_align == 'Left' %}			
				<div class="lg:max-w-full lg:max-w-full lg:md-0 absolute top-0 left-0 lg:relative md:col-start-1 md:col-end-5 md:row-start-2 md:row-end-5 w-full h-full {{ bg1_opacity }} z-10 shadow-utcbottom" >
					{{ utc_hero.hero_bg }}
					<div class="h-full w-full absolute top-0 {{ bg2_opacity }}" style="{{ bg_color }}"></div>
				</div>
		{% else %}
				<div class="lg:max-w-full lg:max-w-full lg:md-0 absolute top-0 left-0 lg:relative md:col-start-1 md:col-end-5 md:row-start-2 md:row-end-5 w-full h-full {{ bg1_opacity }} z-10 shadow-utcbottom" >
					{{ utc_hero.hero_bg }}
					<div class="h-full w-full absolute top-0 {{ bg2_opacity }}" style="{{ bg_color }}"></div>
				</div>
		{% endif %}
			</div>
	</div>
{% endblock %}