{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * Base used by block--utc-card.html.twig
 */
#}

{# could be the base card template in a design system #}
{% if logged_in %}
  {{ attach_library('utccloud/utc-cards') }}
{% endif %}

{% if card_placeholder %}
  {% set card_classes = [
    'utc-card-2',
    'h-0',
    'placeholder-only',
    card_type ? 'utc-card-2--' ~ card_type,
    card_color ? 'utc-card-2--none',
    card_width ? 'utc-card-2--w-' ~ card_width,
    text_alignment ? 'utc-card-2--align-' ~ text_alignment,
    card_link ? 'utc-card-2--card-link',
    card_img_fill ? card_img_fill
  ] | sort | join(' ') | trim %}
{% else %}
  {% set card_classes = [
    'utc-card-2',
    'h-100',
    card_type ? 'utc-card-2--' ~ card_type,
    card_color ? 'utc-card-2--' ~ card_color : 'utc-card-2--white',
    card_width ? 'utc-card-2--w-' ~ card_width,
    text_alignment ? 'utc-card-2--align-' ~ text_alignment,
    card_link ? 'utc-card-2--card-link',
    card_img_fill ? card_img_fill
  ] | sort | join(' ') | trim %}
{% endif %}

{% if card_placeholder %}
  <div class="{{ card_classes }}"></div>
{% else %}
  {# could use include statements for items like images and buttons in design system #}
  {% if card_link %}
    <a href="{{ card_link }}" target="{{ card_link_target }}">
  {% endif %}

  <div class="{{ card_classes }}">

    {% if (card_icon is empty) and card_image %}
      {{ card_image }}
    {% endif %}

    {% if card_icon %}
      <div class="utc-card-2__icon utc-card-2__icon--{{ card_icon_color }}">
        {{ card_icon }}
      </div>
    {% endif %}

    {% block card_body %}
      <div class="utc-card-2__body">
        <div class="utc-card-2__content">
          {% if card_title %}
            <h3 class="utc-card-2__title">{{ card_title }}
            </h3>
          {% endif %}

          {% if card_text %}
            <div class="utc-card-2__text">{{ card_text }}
            </div>
          {% endif %}
        </div>
        {% if (card_link is empty) and card_button_url %}
          <div class="utc-card-2__action-container m-2">
            <a href="{{ card_button_url }}" class="{{ button_style }}" target="{{ card_button_target }}">
              {{ card_button_text }}
            </a>
          </div>
        {% endif %}
      </div>
    {% endblock card_body %}

  </div>

  {% if card_link %}
    </a>
  {% endif %}

{% endif %}
