{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% set image = {
	alignment: content["#block_content"].field_image_alignment.0.value,
	top_margin: content["#block_content"].field_utc_img_margin_top.0.value, 
	bottom_margin: content["#block_content"].field_utc_img_margin_bottom.0.value,
	}
%}

{% if image.bottom_margin == 'small' %}
	{% set bottom_margin = 'mb-4' %}
{% endif %}

{% if image.bottom_margin == 'medium' %}
	{% set bottom_margin = 'mb-8' %}
{% endif %}

{% if image.bottom_margin == 'large' %}
	{% set bottom_margin = 'mb-12' %}
{% endif %}

{% if image.top_margin == 'small' %}
	{% set top_margin = 'mt-4' %}
{% endif %}

{% if image.top_margin == 'medium' %}
	{% set top_margin = 'mt-8' %}
{% endif %}

{% if image.top_margin == 'large' %}
	{% set top_margin = 'mt-12' %}
{% endif %}

<div{{attributes}}>
	{{ title_prefix }}
	{% if label %}
		<h2{{title_attributes}}>
			<span class="title-text">{{ label }}</span>
		</h2>
	{% endif %}
	{{ title_suffix }}
	{% block content %}
		<div class="container {{ top_margin }} {{ bottom_margin }}">
			{% if image.alignment  == 'center' %}
				<div class="align-center">
						<div {{content_attributes}}>{{ content.field_utc_media}}
						</div>
				</div>
			{% elseif image.alignment == 'left' %}
				<div style="display:grid; justify-content: left;">
						<div {{content_attributes}}>{{ content.field_utc_media}}
					</div>
				</div>
			{% elseif image.alignment == 'right' %}
				<div style="display:grid; justify-content: right;">
						<div {{content_attributes}}>{{ content.field_utc_media}}
					</div>
				</div>
			{% else %}
				<div {{content_attributes}}>{{ content.field_utc_media}}
				</div>
			{% endif %}
            <div>{{ content.field_utc_image_caption}}</div>
		</div>
	{% endblock %}
</div>
