{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 * 
 * Base used by block--utc-image-hover-effect.html.twig
 */
#}

    <figure class="utc-hover-image-effect m-0 mx-auto text-white relative overflow-hidden text-left w-95per border border-utc-new-blue-500 bg-white">
      {{ hover_image }}
      <figcaption class="absolute bottom-0 left-0 top-0 right-0 w-full h-full flex items-center cursor-pointer">
        <div class="border-l-4 border-utc-new-gold-500 pl-4 cursor-pointer">
          <h2 class="m-0 mb-2 whitespace-nowrap font-bold capitalize text-utc-new-blue-500 leading-tight">{{ hover_title }}</h2>
          <p class="m-0 mb-2 leading-tight">{{ hover_text }}</p>
          <a href="{{ hover_link }}" title="Go to {{ hover_link }}" >Learn More</a>
        </div>
      </figcaption>			
    </figure>


