{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

<table class="program-table" style="border-collapse: collapse; ">
    <thead>
        <tr>
            <td class="program-name" style="text-align:center;">Program Area<br><span class="smaller-text">Click on a program for more details.</span></td>
            <!--<td class="delivery" colspan="2">Delivery</td>-->
            <td class="degree">Bachelor</td>
            <td class="degree">Minor</td>
            <td class="degree">Master</td>
            <td class="degree">Doctoral</td>
            <td class="degree">Certificate</td>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
                {% set btnID = 'btn-id-' ~ row.content['#row']._entity.id.0.value %}
                {% set detailID = 'detail-id-' ~ row.content['#row']._entity.id.0.value %}
                {% set programName = row.content['#row']._entity.field_program_name.value %}
                {% set programImage = row.content['#row']._entity.field_program_image.target_id %}
                {% set youtubeurl = row.content['#row']._entity.field_youtube_video_url.value %}


                <tr class="program-btn" data-src="{{ detailID }}">
                   {% if  onlineAvailability %}
                        <td id="{{ btnID }}" class="program-name" >{{ row.content['#row']._entity.field_program_name.0.value }}<br />
                            <div class="online-tag">100% Online Available</div>
                        </td>
                    {% else %}
                        <td id="{{ btnID }}" class="program-name" >{{ row.content['#row']._entity.field_program_name.0.value }}</td>
                    {% endif %}
                    
                    <td class="degree bachelor">
                        {% if row.content['#row']._entity.field_degree_options.0.value  == 'bachelor' %}
                            <span class="checkmark">&#10003;</span>
                        {% else %}
                            <span class="m-dash">&#8212;</span> 
                        {% endif %}
                    </td>
                    <td class="degree minor">
                        {% if row.content['#row']._entity.field_degree_options.0.value  == 'minor' or 
                            row.content['#row']._entity.field_degree_options.1.value  == 'minor'  %}
                            <span class="checkmark">&#10003;</span> 
                        {% else %}
                            <span class="m-dash">&#8212;</span>
                        {% endif %}
                    </td>
                    <td class="degree graduate">
                        {% if row.content['#row']._entity.field_degree_options.0.value  == 'graduate' or 
                            row.content['#row']._entity.field_degree_options.1.value  == 'graduate' or
                            row.content['#row']._entity.field_degree_options.2.value  == 'graduate' %}
                            <span class="checkmark">&#10003;</span>
                        {% else %}
                            <span class="m-dash">&#8212;</span> 
                        {% endif %}
                    </td>
                    <td class="degree doctoral">
                        {% if row.content['#row']._entity.field_degree_options.0.value  == 'doctoral' or 
                            row.content['#row']._entity.field_degree_options.1.value  == 'doctoral' or
                            row.content['#row']._entity.field_degree_options.2.value  == 'doctoral' or
                            row.content['#row']._entity.field_degree_options.3.value  == 'doctoral'%}
                            <span class="checkmark">&#10003;</span>
                        {% else %}
                            <span class="m-dash">&#8212;</span> 
                        {% endif %}
                    </td>
                    <td class="degree certificate">
                        {% if row.content['#row']._entity.field_degree_options.0.value  == 'certificate' or 
                            row.content['#row']._entity.field_degree_options.1.value  == 'certificate' or
                            row.content['#row']._entity.field_degree_options.2.value  == 'certificate' or
                            row.content['#row']._entity.field_degree_options.3.value  == 'certificate' or
                            row.content['#row']._entity.field_degree_options.4.value  == 'certificate' %}
                            
                            <span class="checkmark">&#10003;</span>
                        {% else %}
                            <span class="m-dash">&#8212;</span> 
                        {% endif %}
                    </td>
                </tr>
                    <div id="{{ detailID }}" class="offscreen-program-details">
                        <div class="close-btn"  >
                            <i class="fa-sharp fa-light fa-square-xmark"></i>
                        </div>
                        {% if programImage is not null %}
                            <div class="program-image">{{ drupal_entity('media', programImage, 'utc_academic_program_image') }}</div>
                        {% endif %}
                    
                        
                        <h2 style="margin-top:24px;font-size:1.75rem;">{{ programName }}</h2>
                        
                        <div class="degree-list"><strong>Degree(s) available: </strong>
                        <!--keep these in one row to fix spacing issues-->
                           {{ row.content['#row']._entity.field_degree_options.0.value|replace({'graduate': 'master\'s'})|capitalize|replace({' ': ''}) }}{% if row.content['#row']._entity.field_degree_options.1.value is not empty %}, {{ row.content['#row']._entity.field_degree_options.1.value|replace({'graduate': 'master\'s'})|capitalize|replace({' ': ''}) }}{% endif %}{% if row.content['#row']._entity.field_degree_options.2.value is not empty %}, {{ row.content['#row']._entity.field_degree_options.2.value|replace({'graduate': 'master\'s'})|capitalize|replace({' ': ''}) }}{% endif %}{% if row.content['#row']._entity.field_degree_options.3.value is not empty %}, {{ row.content['#row']._entity.field_degree_options.3.value|capitalize|replace({' ': ''}) }}{% endif %}{% if row.content['#row']._entity.field_degree_options.4.value is not empty %}, {{ row.content['#row']._entity.field_degree_options.4.value|capitalize }}{% endif %}
                        </div>
                        {% if  onlineAvailability %}
                        <div class="online-tag" style="margin-top: 1rem;margin-bottom: .25rem;">100% Online Available</div>
                        {% endif %}
                        <div class="program-copy">{{ row.content['#row']._entity.field_summary_description.value|raw }}</div>
                        
                        {% if youtubeurl %}
                            <div class="program-youtube responsive-video">
                                <iframe class="program-yt-iframe" scrolling="no" type="text/html" src="https://www.youtube.com/embed/{{ youtubeurl }}?modestbranding=1&amp;showinfo=0&amp;rel=0&amp;cc_load_policy=3&amp;iv_load_policy=3&amp;disablekb=0&amp;fs=0&amp;color=red&amp;playlist={{ youtubeurl }}" title="{{ programName }} video" frameborder="0" ></iframe>
                            <div>
                        {% endif %}
                    </div>
        {% endfor %}
    <tbody>
</table>

<a href="#top" id="scroll-to-top-btn" title="Scroll to the top" role="button" aria-label="scroll to the top" class="scroll-to-top-button"><i class="fas fa-angle-up"></i><span class="sr-only">Scroll to the top</span></a>