{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% if title %}
	<h3>
		{{ title }}
	</h3>
{% endif %}
<div class="md:grid md:grid-flow-col md:grid-cols-3 md:grid-rows-3 md:gap-8 ml-2">
	{% for key,row in rows %}
		{% set content = {
	news_link: view.style_plugin.getField(key, 'field_utc_rss_feed_item_link')|striptags|trim,
    news_image: view.style_plugin.getField(key, 'field_utc_rss_feed_item_image'),
    news_title: view.style_plugin.getField(key, 'field_utc_rss_feed_item_title'),
    news_location: view.style_plugin.getField(key, 'field_utc_rss_feed_item_location')|raw,
    news_type: view.style_plugin.getField(key, 'field_utc_rss_feed_item_type'),
    news_body: view.style_plugin.getField(key, 'field_utc_rss_feed_item_body')|striptags|trim,
    news_imageurl: view.style_plugin.getField(key, 'field_utc_rss_feed_item_img_url'),
	news_pubdate: view.style_plugin.getField(key, 'field_utc_rss_feed_item_pubdate'),
 } %}
		<div>
			<a
				href={{content.news_link}}>
				{# <img class="w-full" src="/mountain.jpg" alt="Mountain"> #}
				<div class="pr-4 my-4 hover:bg-gray-200">
				<div class="border-l-4 border-utc-new-gold-500 py-1"> 
				    <div class="text-base my-1 uppercase font-bold tracking-wide pl-3"> {{content.news_location}} </div>
					<div class="text-xl mb-1 pl-3">{{ content.news_title }}</div>
					</div>
					{# <p> {{content.news_pubdate}} </p> #}
				</div>
			</a>
		</div>

	{% endfor %}
</div>