{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{# NOTES
   related files:
  docroot/modules/custom/utccloud/utccloud.module
   - (preprocess for both twig files)
  docroot/themes/custom/particle/apps/drupal-default/particle_theme/templates/views/views-exposed-form--utc-directory.html.twig
  - this shows/hides the exposed filters based on variables in URL
  docroot/themes/custom/particle/apps/drupal-default/particle_theme/templates/views/views-view-unformatted--utc-directory.html.twig
  - this file - renders view content
 #}
{{ attach_library('utccloud/utc-directory') }}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for key,row in rows %}

{# set variables #}
  {%
    set row_classes = [
    default_row_class ? 'views-row employee-profile__grid',
  ]
  %}
  {# set urls #}
  {% set dept_url = view.style_plugin.getField(key, 'field_utc_organizational_section')|render|striptags|trim|lower|replace({" ":"-"}) %}
  {% set profile_url = '' %} {# declare empty variable re/set #}
  {% if profile != 'individual' %}{# profile cards in directory list #}
    {# one option would be to check for body and render with a view -- creates url if a profile page is needed #}
    {% if
      ((view.style_plugin.getField(key, 'body')|render|striptags|trim is not empty) and (view.style_plugin.getField(key, 'field_mocs_id')|render|striptags|trim is not empty))
      or
      (view.style_plugin.getField(key, 'field_use_digital_measures')|render|striptags|trim == "On")
    %}
      {% set profile_url = '/directory/' ~  dept_url  ~ '/' ~ view.style_plugin.getField(key, 'field_mocs_id')|render|striptags|trim %}
    {% endif %}
    {% if view.style_plugin.getField(key, 'field_employee_website')|render|striptags|trim is not empty %}
      {% set profile_url = view.style_plugin.getField(key, 'field_employee_website')|render|striptags|trim %}
    {% endif %}
  {# if it is a profile card in the directory view, uses this html #}
    <div class="container-profile__container--profile-card">
      <div class="employee-profile h-100 employee-profile--card">
        {% if profile_url %}
        <a href="{{ profile_url }}" tabindex="-1">
        {% endif %}
          <div class="employee-image">
            <div class="field field--name-field-image field--type-image field--label-visually_hidden">
              <div class="field__label visually-hidden">Image</div>
                <div class="field__item">
                  <picture>
                    {{ view.style_plugin.getField(key, 'field_employee_picture') }}
                  </picture>
                </div>
              </div>
            </div>
        {% if profile_url != '#' %}
        </a>
        {% endif %}
        <div class="employee-profile__body">
          <div class="employee-profile__info">
            {% if profile_url %}
            <a href="{{ profile_url }}" tabindex="-1">
            {% endif %}
              <p class="employee-profile__name">
                {{ view.style_plugin.getField(key, 'field_employee_first_name') }} {{ view.style_plugin.getField(key, 'field_employee_last_name') }}
              </p>
            {% if profile_url %}
            </a>
            {% endif %}
            <p class="employee-profile__title">
              {{ view.style_plugin.getField(key, 'field_employee_title') }}
            </p>
          </div>
          <div class="employee-profile__info">
            <p>
              <a class='font-semibold' href='/directory/{{ dept_url }}'>
                {{ view.style_plugin.getField(key, 'field_utc_organizational_section')|render|striptags|trim }}</a>
            </p>
          </div>
          <div class="employee-profile__info">
          {% if view.style_plugin.getField(key, 'field_employee_email')|render|striptags|trim %}
            <p>
              <i class="fas fa-envelope fa-fw"></i>&nbsp;{{ view.style_plugin.getField(key, 'field_employee_email') }}
            </p>
          {% endif %}
          {% if view.style_plugin.getField(key, 'field_employee_office_location')|render|striptags|trim %}
            <p>
              <i class="fas fa-map-marker fa-fw"></i>&nbsp;{{ view.style_plugin.getField(key, 'field_employee_office_location') }}
            </p>
          {% endif %}
          {% if view.style_plugin.getField(key, 'field_employee_telephone')|render|striptags|trim %}
            <p>
              <i class="fas fa-phone-alt fa-fw"></i>&nbsp;{{ view.style_plugin.getField(key, 'field_employee_telephone') }}
            </p>
          {% endif %}
          </div>
          <div class="employee-profile__more_info">
          {% if profile_url %}
            <p>
              <a href="{{ profile_url }}" class="btn btn--navy btn--pill mb-0">
                More<i class="fas fa-chevron-right fa-fw"></i>
              </a>
            </p>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% else %} {# full page profile #}
    {%  set employee_body = view.style_plugin.getField(key, 'body') %}
      {# test render DM#}
    {%  if view.style_plugin.getField(key, 'field_use_digital_measures')|render|striptags|trim == "On" %}
      {{ attach_library('utccloud/utc-digitalmeasures2') }}
    <div id="dm-web-profile-root"></div>
      {%  set employee_body = '' %}
      {% set hide_profile = 'hidden' %}
    {% endif %}
    {#  need to move this JS to external + add functionality to handle dept breadcrumb #}
    <script>
      var newBreadCrumbDept = "<a href='/directory/{{ dept_url }}'> {{ view.style_plugin.getField(key, 'field_utc_organizational_section')|render|striptags|trim }}</a>";
      var newBreadCrumbName = "{{ view.style_plugin.getField(key, 'field_employee_first_name')|render|striptags|trim }} {{ view.style_plugin.getField(key, 'field_employee_last_name')|render|striptags|trim }}";
      document.addEventListener('DOMContentLoaded', function() {
        jQuery('#block-breadcrumbs-particle .utcbreadcrumb ol li:last').remove();
        jQuery('#block-breadcrumbs-particle .utcbreadcrumb ol').append(jQuery('<li>').html(newBreadCrumbDept)).append(jQuery('<li>').text(newBreadCrumbName));
      }, false);
    </script>
    {# if it is a profile page created in Drupal, uses this html #}
    <div class="employee-profile-page__container  {% if hide_profile %}{{ hide_profile }}{% endif %}">
      <div class="employee-profile-page">
        <div class="employee-profile-page__image">
                <picture>
                  {{ view.style_plugin.getField(key, 'field_employee_picture') }}
                </picture>
          </div>
      <div class="employee-profile-page__body">
        <p class="employee-profile-page__name">
          {{ view.style_plugin.getField(key, 'field_employee_first_name') }} {{ view.style_plugin.getField(key, 'field_employee_last_name') }}
        </p>
        <p class="employee-profile-page__title">
          {{ view.style_plugin.getField(key, 'field_employee_title') }}
        </p>
        <p>
          <a class='font-semibold' href='/directory/{{ dept_url }}'>
            {{ view.style_plugin.getField(key, 'field_utc_organizational_section')|render|striptags|trim }}</a>
        </p>
      {% if view.style_plugin.getField(key, 'field_employee_email')|render|striptags|trim %}
        <p>
          <i class="fas fa-envelope fa-fw"></i>&nbsp;{{ view.style_plugin.getField(key, 'field_employee_email') }}
        </p>
      {% endif %}
      {% if view.style_plugin.getField(key, 'field_employee_office_location')|render|striptags|trim %}
        <p>
          <i class="fas fa-map-marker fa-fw"></i>&nbsp;{{ view.style_plugin.getField(key, 'field_employee_office_location') }}
        </p>
      {% endif %}
      {% if view.style_plugin.getField(key, 'field_employee_telephone')|render|striptags|trim %}
        <p>
          <i class="fas fa-phone-alt fa-fw"></i>&nbsp;{{ view.style_plugin.getField(key, 'field_employee_telephone') }}
        </p>
      {% endif %}
      </div>
    </div>
  </div>
{% if employee_body %}
<div class="employee-profile-page__divider">
  </div>
  <div class="employee-profile-page__bio">
    {{ employee_body }}
    {# this utcid could be used for DM script
        {{ view.storage.executable.args[0] }}
    #}
    </div>
{% endif %}
  {% endif %}
      {% if ( profile != 'all') and ( profile != 'individual') and ( key == 0 ) %}
        {#  need to move this JS to external + add functionality to handle dept breadcrumb #}
      {% set dept_name = view.style_plugin.getField(key, 'field_utc_organizational_section')|render|striptags|trim %}
      <script>
          //var newBreadCrumbDept = "<a href='/directory/{{ dept_url }}'> {{ view.style_plugin.getField(key, 'field_utc_organizational_section')|render|striptags|trim }}</a>";
          var newBreadCrumbName = "{{ dept_name }}";
          document.addEventListener('DOMContentLoaded', function() {
            // jQuery('#block-breadcrumbs-particle .utcbreadcrumb ol li:last').remove();
            jQuery('#block-breadcrumbs-particle .utcbreadcrumb ol').append(jQuery('<li>').text(newBreadCrumbName));
          }, false);
        </script>
      {% endif %}
{% endfor %}
      {% if profile == 'all' %}
        {#  need to move this JS to external + add functionality to handle dept breadcrumb #}
        <script>
          document.addEventListener('DOMContentLoaded', function() {
            //jQuery('#block-breadcrumbs-particle .utcbreadcrumb ol li:last').remove();
            jQuery('#block-breadcrumbs-particle .utcbreadcrumb ol').append(jQuery('<li>').text('UTC Faculty & Staff'));
          }, false);
        </script>
      {% endif %}
