{#
/**
 * @file
 * Theme override for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - display: (optional) May have a value of 'status' or 'error' when only
 *   displaying messages of that specific type.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 */
#}

{% for type, messages in message_list %}
  {% set alert_classes = [
    'mb-0',
    'alert',
    (type == 'status') ? 'alert-success',
    (type == 'error') ? 'alert-danger',
    (type == 'warning') ? 'alert-' ~ type,
  ] | sort | join(' ') | trim %}

  {% if type == 'error' %}
    {% set alert_degree = 'role=alert' %}
  {% else %}
    {% set alert_degree = 'aria-live=polite' %}
  {% endif %}

  <div role="contentinfo" aria-label="{{ status_headings[type] }}"{{ attributes|without('role', 'aria-label') }}>
    {% embed '@atoms/alert/_alert.twig' %}
      {% block alert_header %}
        {% if status_headings[type] %}
          <h2 class="visually-hidden">{{ status_headings[type] }}</h2>
        {% endif %}
      {% endblock alert_header %}
      {% block alert_content %}
        {% if messages|length > 1 %}
          {% for message in messages %}
            <div>{{ message }}</div>
          {% endfor %}
        {% else %}
          <div>{{ messages|first }}</div>
        {% endif %}
      {% endblock alert_content %}
      {% block alert_footer %}
      {% endblock alert_footer %}
    {% endembed %}
  </div>
{% endfor %}
