{#
  Pagination!

  pagination_title: String: The name of the pagination item for screen readers.
  pagination_size (optional): String: sm | lg: The size of the pagination
  page_icon: Boolean: Pagination uses icons for Previous and Next links.
  page_items: Array: The set if page links to display.

  see https://getbootstrap.com/docs/4.0/components/pagination/ for more details
#}

{% set pagination_classes = [
  'pagination',
  pagination_size ? 'pagination-' ~ pagination_size,
  pagination_other_classes,
] | sort | join(' ') | trim %}

<nav aria-label="{{ pagination_title }}">
  <ul class="{{ pagination_classes }}">

    <li class="page-item">
      <a class="page-link" href="#" aria-label="{{ 'Previous'|t }}">
        {% if page_icon %}
          <span aria-hidden="true">&laquo;</span>
        {% endif %}
        <span {{ (page_icon) ? 'class="sr-only"' }}>{{ 'Previous'|t }}</span>
      </a>
    </li>

    {% for item in page_items %}
      <li class="page-item"><a class="page-link" href="{{ item.link }}">{{ item.title }}</a></li>
    {% endfor %}

    <li class="page-item">
      <a class="page-link" href="#" aria-label="{{ 'Next'|t }}">
        {% if page_icon %}
          <span aria-hidden="true">&raquo;</span>
        {% endif %}
        <span {{ (page_icon) ? 'class="sr-only"' }}>{{ 'Next'|t }}</span>
      </a>
    </li>

  </ul>
</nav>
