<div class="container">
  <div class="row">

    <div class="col-sm-12">
      <h1>Colors</h1>
      <p>To add to these items, add and override colors in <code>_colors.scss:$theme-colors()</code>.</p>
    </div>
    {% for colorName, colorValue in scssColors %}

      {# Break up rgb string into array #}
      {% set rgb = colorValue|replace({'rgb(': '', ')': ''})|split(', ') %}
      {# Get luminence, per ITU-R BT.709 #}
      {% set luma = 0.2126 * rgb[0] + 0.7152 * rgb[1] + 0.0722 * rgb[2] %}

      <div class="col-sm-3">
        <div class="card mb-3 {% if luma < 200  %} text-white{% endif %} bg-{{ colorName }}">
          <div class="card-header">{{ colorValue }}</div>
          <div class="card-body">
            <h4 class="card-title">{{ colorName }}</h4>
            <p class="card-text">Usage:</p>
            <pre><code>$theme-colors({{ colorName }});</code></pre>
            <p>Luminance: <code>{{ luma }}</code></p>
          </div>
        </div>
      </div>
    {% endfor %}

  </div>
</div>
