<div class="container">
  <div class="row">

    <div class="col-sm-12">
      <h1>Colors</h1>
      <p>To add to these items, add and override colors in <code>_colors.scss:$theme-colors()</code>.</p>
    </div>
    {% for colorName, colorValue in scssColors %}

      {% set luma = colorValue|rgba_string|luma %}

      <div class="col-sm-3">
        <div class="card mb-3 {% if luma < 200  %}text-white{% endif %} bg-{{ colorName }}">
          <div class="card-header">{{ colorValue }}</div>
          <div class="card-body">
            <h4 class="card-title">{{ colorName }}</h4>
            <p class="card-text">Usage:</p>
            <pre><code>$theme-colors({{ colorName }});</code></pre>
            <p>Luminance: <code>{{ luma }}</code></p>
          </div>
        </div>
      </div>
    {% endfor %}

  </div>
</div>
