<h1 contenteditable>h1 {{ headline.short }}</h1>
<h2 contenteditable>h2 {{ headline.short }}</h2>
<h3 contenteditable>h3 {{ headline.short }}</h3>
<h4 contenteditable>h4 {{ headline.short }}</h4>
<h5 contenteditable>h5 {{ headline.short }}</h5>
<h6 contenteditable>h6 {{ headline.short }}</h6>
