{#
  Dropdown!

  dropdown_element: String: div|li|ul: Choose the html element of the dropdown.
  dropdown_button: Boolean: True|False: Choose whether the dropdown will be a button element or not.
  dropdown_other_classes: String: Allows use of other bootstrap utility classes.
  dropup: Boolean: True|False: Set the dropdown to dropup instead.
  dropdown_color: String: primary|secondary|success|danger|warning|info|light|dark: The color of the dropdown.
  dropdown_split: Boolean: True|False: Set the dropdown button to split between text and the arrow.
  dropdown_text: String: Set the dropdown's text.
  dropdown_menu_right: Boolean: True| False: Set the menu to drop on the right side.
  dropdown_menu_element: String: a|button: Set the element of the menu items
  dropdown_menu_aria_label: Do not set: Will set automatically if you assign an button_id
  dropdown_menu_content: Block: Set content that will be within the dropdown menu.
  dropdown_menu_items: Array: An array of menu items.
  dropdown_menu_item_disabled: Boolean: True|False: Set an individual menu option as disabled.
  dropdown_menu_item_text: String: Set the text of an individual menu item.

  See https://getbootstrap.com/docs/4.0/components/dropdowns/ fro more details
#}

{% set dropdown_element = dropdown_element | default('div') %}

{% if dropdown_button %}
  {% set dropdown_class = 'btn-group' %}
{% else %}
  {% set dropdown_class = 'dropdown' %}
{% endif %}

{% set dropdown_classes = [
  dropdown_class,
  dropup ? 'dropup',
  dropdown_other_classes,
] | sort | join(' ') | trim %}

{% set dropdown_menu_element = dropdown_menu_element | default('a') %}
{% set dropdown_menu_aria_label = button_id ? 'aria-labelledby="' ~ button_id ~ '"' %}

<{{ dropdown_element }} class="{{ dropdown_classes }}">
  {% if dropdown_split %}
    {% include '@atoms/button/_button-dropdown-split.twig' %}
  {% else %}
    {% include '@atoms/button/_button-dropdown.twig' with {
      button_text: dropdown_text,
      button_color: dropdown_color,
    } %}
  {% endif %}

  <div class="dropdown-menu {{ dropdown_menu_right }}" {{ dropdown_menu_aria_label }}>
    {% block dropdown_menu_content%}
    {% for dropdown_menu_item in dropdown_menu_items %}
      <{{ dropdown_menu_element }} class="dropdown-item {{ dropdown_menu_item.dropdown_menu_item_disabled }}" href="#" >
        {{ dropdown_menu_item.dropdown_menu_item_text }}
      </{{ dropdown_menu_element }}>
    {% endfor %}
  {% endblock dropdown_menu_content%}
  </div>
</{{ dropdown_element }}>
