{% set button_element1 = button_element1 | default ('div') %}
{% set button_element2 = button_element2 | default ('button') %}
{% if button_element2 != 'a' %}
	{% set button_type = 'type="' ~ button_type | default('button') ~ '"' %}
{% endif %}
{% set button_classes1 = [
  (button_color and not button_outline) ? 'bg-' ~ button_color,
  (text_color and not button_outline) ? 'text-' ~ text_color,
  button_size ? button_size,
  'p-2', 'rounded-l',
  special_class ? 'p-3' : '',
] | sort | join(' ') | trim %}
{% set button_classes2 = [
  (button_color and not button_outline) ? 'bg-' ~ button_color,
  (text_color and not button_outline) ? 'text-' ~ text_color,
  button_size ? button_size,
  'p-2', 'rounded-r',
  special_class ? 'p-3' : '',
] | sort | join(' ') | trim %}
<div class="flex flex-row">
  <{{button_element1}} class="{{ button_classes1 }} hover:opacity-75">
    {{ button_text }}
    {% block left %}{% endblock left %}
  </{{button_element1}}>
  <{{button_element2}} {{ button_type }} class="{{ button_classes2 }} hover:opacity-75">
    {{ chevron_down }}
    {% block right %}{% endblock right %}
  </{{button_element2}}>
</div>
