{% embed '@atoms/grid/_grid-1-up.twig' %}
  {% set container = true %}

  {% block column_1 %}
    <h1 class="mb-3">Cards</h1>
    <div class="mb-3 p-3 bg-light border border-secondary rounded">
      <p class="lead">{{ helper_card_main }}</p>
      <div><a href="https://getbootstrap.com/docs/4.0/components/card/" target="_blank" rel="noopener noreferrer">Bootstrap Documentation</a></div>
    </div>

    <div class="row">
      <div class="col-sm mb-3">
        {% include '@molecules/card/_card.twig' with text_card_1 %}
      </div>
      <div class="col-sm mb-3">
        {% include '@molecules/card/_card.twig' with text_card_2 %}
      </div>
      <div class="col-sm mb-3">
        {% include '@molecules/card/_card.twig' with text_card_3 %}
      </div>
    </div>
    <hr>

    <h2>Grid 3</h2>
    <div class="mb-3 p-3 bg-light border border-secondary rounded">
      <p>{{ helper_card_text_2 }}</p>
    </div>
    <div class="mb-3">
      {% embed '@atoms/grid/_grid-3-up.twig' %}
        {% block column_1 %}
          {% include '@molecules/card/_card.twig' with text_card_1 %}
        {% endblock column_1 %}
        {% block column_2 %}
          {% include '@molecules/card/_card.twig' with text_card_2 %}
        {% endblock column_2 %}
        {% block column_3 %}
          {% include '@molecules/card/_card.twig' with text_card_3 %}
        {% endblock column_3 %}
      {% endembed %}
    </div>
    <hr>

    <h2>Widths</h2>
    <div class="mb-3 p-3 bg-light border border-secondary rounded">
      <p>{{ helper_card_width }}</p>
    </div>
    <div class="row">
      <div class="col-sm-12 mb-3">
        {% include '@molecules/card/_card.twig' with card_width_1 %}
        {% include '@molecules/card/_card.twig' with card_width_2 %}
        {% include '@molecules/card/_card.twig' with card_width_3 %}
      </div>
    </div>
    <hr>

    <h2>Image</h2>
    <div class="mb-3 p-3 bg-light border border-secondary rounded">
      <p>{{ helper_card_image }}</p>
    </div>
    <div class="card-deck mb-3">
      {% include '@molecules/card/_card.twig' with top_image %}
      {% include '@molecules/card/_card.twig' with bottom_image %}
      {% include '@molecules/card/_card.twig' with overlay_image %}
    </div>
    <hr>

    <h2>Structure</h2>
    <div class="mb-3 p-3 bg-light border border-secondary rounded">
      <p>{{ helper_card_structure }}</p>
    </div>
    <div class="card-group mb-3">
      {% include '@molecules/card/_card.twig' with header_card %}
      {% include '@molecules/card/_card.twig' with footer_card %}
      {% include '@molecules/card/_card.twig' with list_card %}
    </div>
    <hr>

    <h2>Background and Border</h2>
    <div class="mb-3 p-3 bg-light border border-secondary rounded">
      <p>{{ helper_card_colors }}</p>
    </div>
    <div class="card-columns mb-3">
      {% include '@molecules/card/_card.twig' with card_background_1 %}
      {% include '@molecules/card/_card.twig' with card_background_2 %}
      {% include '@molecules/card/_card.twig' with card_background_3 %}
      {% include '@molecules/card/_card.twig' with card_background_4 %}
      {% include '@molecules/card/_card.twig' with card_border_1 %}
      {% include '@molecules/card/_card.twig' with card_border_2 %}
      {% include '@molecules/card/_card.twig' with card_border_3 %}
      {% include '@molecules/card/_card.twig' with card_border_4 %}
    </div>
    <hr>

    <h2>Variation</h2>
    <div class="mb-3 p-3 bg-light border border-secondary rounded">
      <p>{{ helper_card_blocks }}</p>
    </div>
    <div class="mb3">
      {% embed '@molecules/card/_card.twig' %}
        {% block card_body %}
          <h2 class="text-left">First Title</h2>
          <h2 class="text-right">Second Title</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet facilisis erat. Suspendisse ultrices sed massa a faucibus. </p>
        {% endblock %}
      {% endembed %}
    </div>
    <hr>

  {% endblock column_1 %}
{% endembed %}
