<div class="smart-grid
  {%- if classes %} {{ classes }}{% endif -%}
  {%- if demoItems %} grid-demo{% endif -%}"
  {%- if rowItems.small %}data-row-items-small="{{ rowItems.small }}"{% endif -%}
  {%- if rowItems.medium %}data-row-items-medium="{{ rowItems.medium }}"{% endif -%}
  {%- if rowItems.large %}data-row-items-large="{{ rowItems.large}}"{% endif -%}
  {%- if rowItems.xlarge %}data-row-items-xlarge="{{ rowItems.xlarge }}"{% endif -%}
>
  {% block gridItems %}
    {% if demoItems %}
      {% set items = 1..demoItems %}
    {% endif %}
    {% for item in items %}
      <div></div>
    {% endfor %}
  {% endblock %}
</div>
