<div class="icons-demo" id="icons">
  {% _.each(glyphs, function(glyph) { %}
  <div class="icons__item" data-name="{{ glyph.name }}">
    <i class="{{ classNamePrefix }}--{{ glyph.name }}"></i> {{ classNamePrefix }}--{{ glyph.name }}
  </div>
  {% }); %}
</div>
