<style>
.term-display {
  text-transform: capitalize;
  display: inline;
}
.no-list-style {list-style:none;}
.node-program-wrapper {
  display: flex;
  column-gap: 24px;
  padding-bottom: 36px;
  border-bottom: 1px solid #112e51;
}
.node__content {
  margin-bottom: 60px;
}
.node__content > div {
    padding-top:36px;
}
.node-program-wrapper > div:first-child {width:25%;max-width:478px;}
.node-program-wrapper > div:last-child {width:75%;}
</style>

    
   <div class="node__content" >

    {% for paragraph in content.field_utc_programs['#items'] %}

        {# paragraph fields #}  
        {% set paragraph_title = paragraph.entity.field_program_name.value %}
        {% set paragraph_image = paragraph.entity.field_program_image.target_id %}
        {% set paragraph_degrees = paragraph.entity.field_degree_options %}
        {% set paragraph_delivery_option = paragraph.entity.field_delivery_options %}
        {% set paragraph_interest_option = paragraph.entity.field_interest_options %}
        {% set paragraph_description = paragraph.entity.field_summary_description.value %}
        {% set paragraph_yturl = paragraph.entity.field_youtube_video_url.value %}

        <div>
            <div class="node-program-wrapper">
                <div style="display:flex;flex-direction:column;">
                    {% if paragraph_image is not null %}
                        <div class="program-image" style="margin-bottom:24px;">{{ drupal_entity('media', paragraph_image, 'utc_academic_program_image') }}</div>
                    {% endif %}
                    {% if paragraph_yturl %}
                        <div class="program-youtube responsive-video">
                            <iframe class="program-yt-iframe" scrolling="no" type="text/html" src="https://www.youtube.com/embed/{{ paragraph_yturl }}?modestbranding=1&amp;showinfo=0&amp;rel=0&amp;cc_load_policy=3&amp;iv_load_policy=3&amp;disablekb=0&amp;fs=0&amp;color=red&amp;playlist={{ paragraph_yturl }}" title="{{ paragraph_title }} video" frameborder="0" ></iframe>
                        </div>
                    {% endif %}
                </div>
                <div><h2 style="margin-top:0;">{{ paragraph_title }}</h2>
                    <ul style="padding-left:0;">
                        <li class="no-list-style"><span style="font-weight:bold;">Category(ies): </span>
                            {% for item in paragraph_interest_option %}
                                <div class="term-display">{{ item.value|raw }}{% if not loop.last %}, {% endif %}</div>
                            {% endfor %}
                        </li>
                        <li class="no-list-style"><span style="font-weight:bold;">Degree(s) available: </span>
                            {% for item in paragraph_degrees %}
                                <div class="term-display">{{ item.value|raw }}{% if not loop.last %}, {% endif %}</div>
                            {% endfor %}
                        </li class="no-list-style">
                        <li class="no-list-style"><span style="font-weight:bold;">Delivery options: </span>
                            {% for item in paragraph_delivery_option %}
                                <div class="term-display">{% if item.value|raw == "inperson"%}In Person{% else %}{{ item.value|raw }}{% endif %}{% if not loop.last %}, {% endif %}</div>
                            {% endfor %}
                        </li>
                        
                    </ul>
                    <div class="node__program-description"><p>Note: For brevity, only the summary is present here.</p><span style="font-weight:bold;">Description: </span><br />{{ paragraph_description|raw }}</div>
                </div>
            </div>
        </div>
    {% endfor %}

</div>

