{# if we're in pattern lab and there's no specific `img`, let's do a placeholder image #}
{% if pl and not img %}
  {# default image style is `medium` #}
  {% set imageStyleName = imageStyleName|default('medium') %}

  {# `imageStyles` defined in `_data/imageStyles.yaml` #}
  {% set imageStyle = imageStyles[imageStyleName] %}

  {% set imageText = imageStyle.width ~ 'x' ~ imageStyle.height %}

  {# if there's no height, let's randomly get one somewhere between .75 and 1.25 times the width, in increments of 10 #}
  {% if not imageStyle.height %}
    {% set height = random(range(imageStyle.width * 0.75, imageStyle.width * 1.25, 10)) %}
    {% set imageStyle = imageStyle|merge({height: height}) %}
    {% set imageText = imageStyle.width ~ 'wide, height varies' %}
  {% endif %}

  {# holder.js options #}
  {% set options = {
    theme: 'gray',
    auto: 'yes',
    size: '8',
    lineWrap: '.9',
    text: imageStyleName ~ ' \n (' ~ imageText ~ ')',
  } %}

  {% set imgSrc = 'holder.js/' ~ imageStyle.width ~ 'x' ~ imageStyle.height|round ~ '?' ~ options|url_encode %}
  {% if bg %}
    <div data-background-src="?{{ imgSrc }}" class="bg-img holderjs {{ class }}"></div>
  {% else %}
    <img data-src="{{ imgSrc }}"{% if class %} class="{{ class }}"{% endif %}>
  {% endif %}
{% else %}
  {# Is `img` an object or string? #}
  {% set imgSrc = img is iterable ? img.src : img %}
  {% set imgAlt = img is iterable ? img.alt : '' %}

  {% if bg %}
    <div style="background-image: url({{ imgSrc }});" class="bg-img {{ class }}"></div>
  {% else %}
    <img src="{{ imgSrc }}" alt="{{ imgAlt }}" {% if class %} class="{{ class }}"{% endif %}>
  {% endif %}
{% endif %}
