<p><b>Paragraph One</b> {{ excerpt.short }}</p>
<hr>
<p><b>Paragraph Two</b> after an <code>hr</code> {{ excerpt.medium }}</p>

<h1>Header 1</h1>
<p><b>Paragraph</b> following an <code>h1</code> {{ description }}</p>

<h2>Header 2</h2>
<p><b>Paragraph</b> following an <code>h2</code> {{ description }}</p>

<h3>Header 3</h3>
<p><b>Paragraph</b> following an <code>h3</code> {{ description }}</p>

<h4>Header 4</h4>
<p><b>Paragraph</b> following an <code>h4</code> {{ description }}</p>

<h5>Header 5</h5>
<p><b>Paragraph</b> following an <code>h5</code> {{ description }}</p>

<h6>Header 6</h6>
<p><b>Paragraph</b> following an <code>h6</code> {{ description }}</p>

<p><a href="#">This is a text link.</a></p>

<p><i>Italic text is used for stylistic purposes</i> in <code>i</code></p>

<p><em>This text has added emphasis</em> in <code>em</code></p>

<p><b>Bolded text is used for stylistic purposes</b> in <code>b</code></p>

<p><strong>Strong is used to indicate strong importance</strong> in <code>strong</code></p>

<p>This text is <sup>superscript</sup></p>

<p>This text is <sub>subscript</sub></p>

<blockquote>
  <p>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation.</p>
</blockquote>
