{% embed '@atoms/grid/_grid-1-up.twig' %}
  {% block column_1 %}
    {# main #}
    <h1 class="mb-3">
      {{ page_title }}
    </h1>
    <div class="mb-3 p-3 bg-grey-lightest border border-grey rounded">
      <p class="text-lg font-light">
        {{ dropdowns_helper }}
      </p>
    </div>
    <hr />
    {# Basic Dropdown #}
    <div class="mb-3">
      <h2>
        {{ headers[0].header_text }}
      </h2>
      {% for i in first_dropdown %}
        {% include '@atoms/dropdown/_dropdown-menu.twig' with i %}
      {% endfor %}
    </div>
    {# <a> element dropdown #}
    <div class="mb-3">
      <h2>
        {{ headers[1].header_text }}
      </h2>
      {% for i in dropdown_link %}
        {% include '@atoms/dropdown/_dropdown-menu.twig' with i %}
      {% endfor %}
    </div>
    <div class="mb-3">
      <h2>
        {{ headers[2].header_text }}
      </h2>
      {% for i in btn_colors %}
        {% include '@atoms/dropdown/_dropdown-menu.twig' with i %}
      {% endfor %}
    </div>
    {# Split Button Dropdown #}
    <div class="mb-3">
      <h2>
        {{ headers[3].header_text }}
      </h2>
      {% for i in btn_colors %}
        {% include '@atoms/dropdown/_dropdown-menu-split.twig' with i %}
      {% endfor %}
    </div>
    {# sizing #}
    <div class="mb-3">
      <h2>
        {{ headers[4].header_text }}
      </h2>
      <div class="flex flex-col md:flex-row lg:flex-row">
        {% for i in sizes %}
          {% include '@atoms/dropdown/_dropdown-menu.twig' with i %}
        {% endfor %}
        {# split sizing #}
        {% for i in sizes %}
          {% include '@atoms/dropdown/_dropdown-menu-split.twig' with i %}
        {% endfor %}
      </div>
    </div>
    {# dropup #}
    <div class="mb-3">
      <h2>
        {{ headers[5].header_text }}
      </h2>
      <p>
        {{ headers[5].header_paragraph }}
      </p>
      {% for i in dropup %}
        {% include '@atoms/dropdown/_dropdown-menu-up.twig' with i %}
      {% endfor %}
      {% for i in dropup_split %}
        {% include '@atoms/dropdown/_dropdown-menu-split-up.twig' with i %}
      {% endfor %}
    </div>
    {# Menu Items #}
    <div class="mb-3">
      <h2>
        {{ headers[6].header_text }}
      </h2>
      <p>
        {{ headers[6].header_paragraph }}
      </p>
      {% for i in menu_items %}
        {% include '@atoms/dropdown/_dropdown-menu.twig' with i %}
      {% endfor %}
    </div>
    {# Menu alignment #}
    <div class="mb-3">
      <h2>
        {{ headers[7].header_text }}
      </h2>
      {% for i in menu_alignment %}
        {% include '@atoms/dropdown/_dropdown-menu-alignment.twig' with i %}
      {% endfor %}
    </div>
    {# In-menu options #}
    <div class="mb-3">
      <h2>
        {{ headers[8].header_text }}
      </h2>
      {% embed '@atoms/grid/_grid-3-up.twig'
        with {
          container: false
        }
      %}
        {% block column_1 %}
          {% include '@atoms/dropdown/_dropdown-menu-header.twig' with {
            dropdown_color: 'gray-600 text-white',
            dropdown_text: 'Header',
            dropdown_menu_items: dropdown_menu_header
          } %}
        {% endblock %}
        {% block column_2 %}
          {% include '@atoms/dropdown/_dropdown-menu-divider.twig' with {
            dropdown_color: 'gray-600 text-white',
            dropdown_text: 'Divider',
            dropdown_menu_items: dropdown_menu_divider
          } %}
        {% endblock %}
        {% block column_3 %}
          {% include '@atoms/dropdown/_dropdown-menu-disabled.twig' with {
            dropdown_color: 'gray-600 text-white',
            dropdown_text: 'Disabled Items',
            dropdown_menu_items: dropdown_menu_disabled
          } %}
        {% endblock %}
      {% endembed %}
    </div>
    {# Menu forms #}
    <div class="mb-3">
      <h2>
        Menu forms
      </h2>
      {% embed '@atoms/dropdown/_dropdown-form.twig' %}
        {% block dropdown_menu_content %}
          <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 px-4 py-3 max-w-xs">
            <div class="form-group mb-4">
              <label for="exampleDropdownFormEmail1"
                class="block text-gray-700 text-sm font-bold mb-2">
                Email address
              </label>
              <input type="email"
                class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="exampleDropdownFormEmail1"
                placeholder="email@example.com" />
            </div>
            <div class="mb-6">
              <label for="exampleDropdownFormPassword1"
                class="block text-gray-700 text-sm font-bold mb-2">
                Password
              </label>
              <input type="password"
                class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="exampleDropdownFormPassword1"
                placeholder="Password" />
            </div>
            <div class="flex items-center justify-between">
              <label class="form-check-label"
                class="block text-gray-700 text-sm font-bold mb-2">
                <input type="checkbox" class="mr-2 leading-tight" />Remember me
              </label>
            </div>
            <button type="submit"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline my-2">
              Sign in
            </button>
            <div class="mb-6">
              <div class="dropdown-divider"></div>
              <p class="text-gray-500 text-xs">
                <a class="text-gray-500 text-xs" href="#">
                  New around here? Sign up
                </a>
              </p>
              <p class="text-gray-500 text-xs">
                <a class="text-gray-500 text-xs" href="#">Forgot password?</a>
              </p>
            </div>
          </form>
        {% endblock %}
      {% endembed %}
    </div>
  {% endblock %}
{% endembed %}
