{#
/**
 * Block - Branding.
 *
 * url: String: the url the block directs to.
 * inline: Boolean: Inline SVG or Src image.
 * site_logo: Array: the inline or imgSrc logo.
 * site_name: String: the site name provided by the app.
 * site_slogan: String: the site slogan provided by the app.
 *
 */
#}

<aside class="branding">
  <div class="branding__site-logo">
    <a href="{{ url }}" title="{{ site_name }}" rel="home">
      {% if logo_inline_svg %}
        {% include '@atoms/image/_svg.twig' with {
          svgpath: logo_inline_svg
          } %}
      {% endif %}

      {% if logo_img_url %}
        {% include "@atoms/_image.twig" with {
          img: {
            src: logo_img_url,
            alt: site_name ~ ' site logo',
            }
        } %}
      {% endif %}
    </a>
  </div>

  {% if site_name %}
    <h2 class="branding__site-name">
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
    </h2>
  {% endif %}

  {% if site_slogan %}
    <h6 class="branding__site-slogan">{{ site_slogan }}</h6>
  {% endif %}
</aside>
