<article class="{{style}}">
    <span class="image">
      <img src="{{img_src}}" alt="{{img_alt}}">
    </span>
    <a href="{{url}}">
      <h2>{{title}}</h2>
      <div class="content">
        <p>{{subtitle}}</p>
      </div>
    </a>
  </article>
