{#
/**
 * @file
 * Theme override to present an aggregator feed.
 *
 * The contents are rendered above feed listings when browsing source feeds.
 * For example, "example.com/aggregator/sources/1".
 *
 * Available variables:
 * - title: (optional) Title of the feed item.
 * - content: All field items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given element.
 * - attributes: HTML attributes for the wrapper.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_aggregator_feed()
 */
#}

<div>
	<details>
		<summary class="card-header_m border-2 border-gray-300" id="cardH-{{random(50)}}">
		{# do we need to keep this? Removing makes accordion open when text is clicked (expected behavior)
			<a href="#homepagefeed"> #}
				{{ title }}
		{#	</a> #}
		</summary>
		<div class="bg-white shadow">
			{{ content }}
		</div>
	</details>
</div>
