{#
/**
 * @file Borders!
 * Documenting Border Examples from Tailwind. These are Tailwind Utilities we gain via Base.
 *
 * Available variables:
 * - border_classes: [array] Used to demonstrate available border utility classes.
 * - radius_classes: [array] Used to demonstrate available boder-radius utility classes.
 *
 * @see https://tailwindcss.com/docs/border-style
 */
#}

<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>

{% set border_classes = ['', '-0', '-t-0', '-r-0', '-b-0', '-l-0'] %}
{% set radius_classes = ['', '-t', '-r', '-bottom', '-l', '-full', '-none'] %}
{% set color_classes = [
  '-transparent',
  '-black',
  '-orange-500',
  '-red-500',
  '-blue-500',
  '-yellow-500',
  '-gray-500'
] %}
<div class="container mx-auto my-5">
  <div class="row-auto">
    <h1 class="mb-3">
      Borders
    </h1>
    <div class="mb-3 p-3 bg-gray-100 border border-black border-lg">
      <p class="text-base">
        Use border utilities to quickly style the border and border-radius of an
        element. Great for images, buttons, or any other element.
      </p>
      <div>
        <a href="https://tailwindcss.com/docs/border-style"
          target="_blank"
          rel="noopener noreferrer"
          class="block text-sm mt-2 text-blue-500">
          Tailwind Documentation
        </a>
      </div>
    </div>
    <hr />
    <h2 class="py-3">
      Border
    </h2>
    <p>
      Add classes to an element to remove all borders or some borders.
    </p>
    <div class="border">
      {% for class in border_classes %}
        <span class="bg-gray-100 m-2 border border{{ class }}"
          style="display: inline-block; height: 5rem; width: 5rem; margin: .25rem;">

        </span>
      {% endfor %}
      <pre class="bg-gray-100 mb-0 whitespace-pre-line">
        <code class="prettyprint">
          {% for class in border_classes %}
            &lt;span class="border{{ class }}"&gt;&lt;/span&gt;
          {% endfor %}
        </code>
      </pre>
    </div>
    <h2 class="py-3">
      Border Color
    </h2>
    <p>
      Change the border color using utilities built on our theme colors.
    </p>
    <div class="border">
      {% for class in color_classes %}
        <span class="bg-gray-100 m-2 border border{{ class }}"
          style="display: inline-block; height: 5rem; width: 5rem; margin: .25rem;">

        </span>
      {% endfor %}
      <pre class="bg-gray-100 mb-0 whitespace-pre-line">
        <code class="prettyprint">
          {% for class in color_classes %}
            &lt;span class="border border{{ class }}"&gt;&lt;/span&gt;
          {% endfor %}
        </code>
      </pre>
    </div>
    <h2 class="py-3">
      Border-radius
    </h2>
    <p>
      Add classes to an element to easily round its corners.
    </p>
    <div class="border">
      {% for class in radius_classes %}
        {% include '@atoms/image/_image.twig' with {
          image: border_radius_image,
          image_classes: ['m-2 inline-block rounded' ~ class]
        } %}
      {% endfor %}
      <pre class="bg-gray-100 mb-0 whitespace-pre-line">
        <code class="prettyprint">
          {% for class in radius_classes %}
            &lt;img src="..." alt="..." class="rounded{{ class }}"&gt;
          {% endfor %}
        </code>
      </pre>
    </div>
  </div>
</div>
