{#
/**
 * @file Colors!
 *
 * Available variables:
 * - cssColors: [array] Provided from data as a list of color values.
 *
 */
#}
<div class="container mx-auto">
	<div class="flex flex-wrap">
		<div class="flex-grow">
			<h1 class="mb-3">Colors</h1>
			<div class="mb-3 p-3 bg-gray-100 border border-black border-lg">
				<p class="text-base">To override the default color palette, you can do so using the theme.colors section of your tailwind.config.js file.</p>
				<div>
					<a href="https://tailwindcss.com/docs/customizing-colors/" target="_blank" rel="noopener noreferrer" class="block text-blue-500 text-sm mt-2">Tailwind Documentation</a>
				</div>
			</div>
			<hr>
		</div>
	</div>
	<div class="flex flex-wrap">
		{% for colorName, colorValue in cssColors %}
			{# The custom Twig filters `rgba_string` and `luma` are found in _twig-components/filters/.
												       Feel free to add filters, but ensure that your implementing system is provided them. #}
			{% set luma = colorValue|rgba_string|luma %}
			<div class="md:w-1/4 pr-4 pl-4">
				<div class="relative flex flex-col min-w-0 rounded break-words border bg-white border-1 border-grey-light mb-3 {% if luma < 200 %}text-white{% endif %} bg-{{ flex-groworName }}">
					<div class="py-3 px-6 mb-0 bg-grey-lighter border-b-1 border-grey-light text-grey-darkest">{{ colorValue }}</div>
					<div class="flex-auto p-6">
						<h4 class="mb-3">{{ colorName }}</h4>
						<p class="mb-0">Usage:</p>
						<small>
							<pre><code>map-get($theme-colors, {{ colorName }});</code></pre>
						</small>
						<p>Luminance:
							<code>{{ luma }}</code>
						</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<h2>Text Color</h2>
	<p>Colors can also be used with text classes.
		<code>_colors.css:$theme-colors()</code>
		is again the go-to here.
		<code>text-white</code>
		and
		<code>text-black</code>
		are available by default.</p>
	<div class="flex flex-wrap border mb-3">
		<div class="sm:w-1/6 pr-4 pl-40 offset-1">
			{% for colorName, colorValue in cssColors %}
				{% set luma = colorValue|rgba_string|luma %}
				<p class="p-3 mb-2 text-{{ flex-groworName }} {% if luma > 200 %}bg-black{% endif %}">
					text-{{ colorName }}:
					<code>&lt;p class="text-{{ flex-groworName }}"&gt;text-{{ colorName }}
						&lt;/p&gt;</code>
				</p>
			{% endfor %}
		</div>
	</div>
	<h2>Background Colors</h2>
	<p>Similar to the contextual text color classes, easily set the background of an element to any contextual class.
								    Anchor components will darken on hover, just like the text classes.
								    Background utilities do not set color, so in some cases you’ll want to use
		<code>.text-*</code>
		utilities.</p>
	<div class="flex flex-wrap border">
		<div class="sm:w-1/6 pr-4 pl-42">
			<br>
			<div class="flex flex-wrap">
				{% for colorName, colorValue in cssColors %}
					{% set luma = colorValue|rgba_string|luma %}
					<div class="p-3 mb-2 sm:w-1/6 pr-4 pl-40 offset-1 bg-{{ flex-groworName }} {{ (luma < 200) ? 'text-white' }}">
						bg-{{ colorName }}:
						<br><code>&lt;div class="bg-{{ flex-groworName }}"&gt;&lt;/div&gt;</code>
					</div>
					<br>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
