{#
/**
 * @file Typography!
 * Documenting Typography for Particle.
 *
 * Available variables:
 * - fontFamilies: [array] A list of values from _css2json.css.
 *
 */
#}

<div class="container mx-auto">
  <h1 class="mb-3">Font Families</h1>
  <div class="mb-3 p-3 bg-gray-100 border border-black border-lg">
    <p class="text-base">To change, add, or remove font families, you can do so using the  <code class="text-pink-500">theme.fontFamily</code> section of your <code class="text-pink-500">tailwind.config.js</code> file.</p>
    <div>
      <a href="https://tailwindcss.com/docs/font-family/#app" target="_blank" rel="noopener noreferrer" class="block text-blue-500 text-sm mt-2">Tailwind Documentation</a>
    </div>
  </div>
  <hr>
  <br>
  {% for fontType, fontValue in tokens.fontFamily %}
    <h3 class="sans-{{ fontType }} text-2xl mb-2">{{ fontType|upper }}</h3>
    <div class="rounded-lg bg-gray-100 p-4 mb-4">
      <div class="mt-2 pl-2 font-medium">
        {% for fontFamily in fontValue %}
          <p>Font family: <span class="italic font-normal">{{ fontFamily }}</span></p>
        {% endfor %}
        <p>Usage: <code class="text-pink-500">.font-{{ fontType }}</code></p>
        <p >Example: <code class="text-pink-500">&lt;p class="font-{{ fontType }}"&gt;{{ excerpt.short }}&lt;/p&gt;</code></p>
        <p class="font-{{ fontType }} font-normal py-3">
            {{ excerpt.short }}
        </p>
      </div>
    </div>
  {% endfor %}
</div>
