{#
/**
 * @file Spacing!

 *
 * @see https://tailwindcss.com/docs/margin/
 */
#}
<div class="container mx-auto">
	<div class="row-auto">
		<div class="flex-grow">
			<h1 class="mb-3">Spacing</h1>
			<div class="mb-3 p-3 bg-gray-100 border border-black border-lg">
				<p class="text-base">To add to these items, adjust
          <code class="text-pink-500">theme.spacing</code>
					section of your
          <code class="text-pink-500">tailwind.config.js</code>
					file.</p>
				<p>
					<div>
						<a href="https://tailwindcss.com/docs/margin" target="_blank" rel="noopener noreferrer" class="block text-sm mt-2 text-blue-500">Tailwind Documentation</a>
					</div>
				</p>
			</div>
			<hr>
			{% for spacer, value in tokens.spacing %}
				{% if spacer != 0 %}
					<div style="margin: 10px;">
						<div style="height: {{ value }}; width: {{ value }}; outline: solid 1px black; display: inline-block; margin-right: 5px;"></div>
						<span>{{ value }}
							:
							<code class="text-pink-500">.m-{{ spacer }}</code>
							||
							<code class="text-pink-500">.p-{{ spacer }}</code>
						</span>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
