<div class="container mx-auto">
  <h1 class="mb-3">Text Styles</h1>
  <div class="mb-3 p-3 bg-gray-100 border border-black border-lg">
    <p class="text-base">Customize your text using Tailwind's font-size, font-style, font-weight and font-color utility classes.</p>
    <div>
      <a href="https://tailwindcss.com/docs/" target="_blank" rel="noopener noreferrer" class="block text-blue-500 text-sm mt-2">Tailwind Documentation</a>
    </div>
  </div>
  <hr>
  <br>

  <h2>Font styles</h2>
  <hr>
  <div class="pl-4">
    <h3>Italic / no italic</h3>
    <p>Use the <code class="text-pink-500">.italic</code> utility to italicize text and the <code class="text-pink-500">.not-italic</code> utility to display text normally.</p>
    <div class="rounded-lg border p-4 mt-4">
      <div class="flex border-b pb-3 mb-3">
        <p class="italic w-1/3">{{ headline.short }}</p>
        <code class="text-pink-500 w-2/3">&lt;p class="italic"&gt;{{ headline.short }}&lt;/p&gt;</code>
      </div>
      <div class="flex">
        <p class="not-italic w-1/3">{{ headline.short }}</p>
        <code class="text-pink-500 w-2/3">&lt;p class="not-italic"&gt;{{ headline.short }}&lt;/p&gt;</code>
      </div>
    </div>
  </div>
  <br>

  <h2>Font weights</h2>
  <p>You change, add, or remove these by editing the <code class="text-pink-500">theme.fontWeight</code> section of your Tailwind config.</p>
  <hr>
  <div class="rounded-lg border p-4 mt-4">
    <p class="pb-2">Control the font weight of an element using the <code class="text-pink-500">.font-{weight}</code> utilities:</p>
    {% for weight, value in tokens.fontWeight %}
      <div class="mb-6">
        <p class="text-sm text-gray-600">.font-{{ weight }} ~ {{ value }}</p>
        <p class="font-{{ weight }} text-xl text-gray-800">{{ headline.short }}</p>
      </div>
    {% endfor %}
  </div>
  <br>

  <h2>Font sizes</h2>
  <p>You change, add, or remove these by editing the <code class="text-pink-500">theme.fontSize</code> section of your Tailwind config.</p>
  <hr>
  <div class="rounded-lg border p-4 mt-4">
    <p class="pb-2">Control the font size of an element using the <code class="text-pink-500">.text-{size}</code> utilities:</p>
    {% for size, value in tokens.fontSize %}
      <div class="mb-6">
        <p class="text-{{ size }} text-gray-600">.text-{{ size }} ~ {{ value }}</p>
        <p class="text-{{ size }} text-gray-800">{{ headline.short }}</p>
      </div>
    {% endfor %}
  </div>
  <br>

  <h2>Font colors</h2>
  <p>You change, add, or remove colors by editing the <code class="text-pink-500">theme.colors</code> section of your Tailwind config.</p>
  <hr>
  <div class="rounded-lg border p-4 mt-4">
    <p class="pb-2">Control the font color of an element using the <code class="text-pink-500">.text-{color}</code> utilities:</p>

    {% for colorName, colorValue in tokens.colors %}
      {% if colorValue is iterable %}
        {% for nestedColor, nestedValue in colorValue %}
          {# The custom Twig filters `hex_to_rgba`, `rgba_string` and `luma` are found in alter-twig.php. #}
          {% set luma = nestedValue|hex_to_rgba|rgba_string|luma %}
          {% set colorClass = 'text-' ~ colorName ~ '-' ~ nestedColor %}
          <div class="mb-6 {{ luma > 200 ? 'bg-gray-600 p-1' }}">
            <p class="{{ colorClass }} text-sm">.{{ colorClass }} ~ {{ nestedValue }}</p>
            <p class="{{ colorClass }} text-sm mb-">{{ headline.short }}</p>
          </div>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>
</div>
