<div class="container">
  {% embed '@atoms/_grid-1-up.twig' %}
    {% block column_1 %}

      <h1>Icons</h1>

      <div class="card text-light bg-secondary mb-3">
        <div class="card-body">
          <h4 class="card-title">Use</h4>
          <p class="card-text">An icon font is generated from all SVGs within
            the folder <code>@atoms/icon/svg/</code>. Simply add the <code>icon--name</code>
            class to any element to add an icon. For instance, if there is a
            <code>search.svg</code> within the svg folder, you can add a search
            icon like this: <code>&#x3C;i class=&#x22;icon--search&#x22;&#x3E;&#x3C;/i&#x3E;</code>
            which will result in: <i class="icon--search"></i>.</p>
          <p>A Sass mixin is also provided that gives greater flexibility. To
            add a search icon as a pseudo element to any element, simply <code>@include
              icon(search);</code>. Besides icon name, this mixin includes
            parameters for pseudo position, text-replacement, size, color, and
            block display. See <code>@atoms/icon/scss/_icon-mixins.scss</code>
            for more detail.</p>
          <p>All SVGs added to the svg folder must be on a 512px x 512px
            canvas. Adding new SVGs to the folder requires restarting the webpack dev server.</p>
        </div>
      </div>

      <div class="row align-items-center" style="min-height: 10rem;">
        {% for icon, glyph in scssIcons.icons %}
          <div class="d-flex col justify-content-center align-items-center p-3">
            <i class="{{ scssIcons.prefix }}{{ icon }} p-1"></i>
            <i class="{{ scssIcons.prefix }}{{ icon }} p-1 text-danger" style="font-size: 1.5rem;"></i>
            <i class="{{ scssIcons.prefix }}{{ icon }} p-1 bg-dark text-white" style="font-size: 2rem;"></i>
          </div>
        {% endfor %}
      </div>


    {% endblock column_1 %}
  {% endembed %}
</div>

