{% extends '@atoms/grid/_grid-1-up.twig' %}
  {% set container = true %}

  {% block column_1 %}

    <h1>Icons</h1>

    <div class="card text-light bg-secondary mb-3">
      <div class="card-body">
        <h4 class="card-title">Use</h4>
        <p class="card-text">An icon font is generated from all SVGs within
          the folder <code>@atoms/icon/svg/</code>. Simply add the <code>icon--name</code>
          class to any element to add an icon. For instance, if there is a
          <code>search.svg</code> within the svg folder, you can add a search
          icon like this: <code>&#x3C;i class=&#x22;icon--search&#x22;&#x3E;&#x3C;/i&#x3E;</code>
          which will result in: <i class="icon--search"></i>.</p>
        <p>A Sass mixin is also provided that gives greater flexibility. To
          add a search icon as a pseudo element to any element, simply <code>@include
            icon(search);</code>. Besides icon name, this mixin includes
          parameters for pseudo position, text-replacement, size, color, and
          block display. See <code>@atoms/icon/scss/_icon-mixins.scss</code>
          for more detail.</p>
        <h4>Considerations</h4>
        <ul>
          <li>It is recommended that all SVGs be on the same size canvas (512px x 512px). All glyphs are scaled up to the size of the largest glyph otherwise.</li>
          <li>Adding new SVGs to the folder requires restarting the webpack dev server.</li>
          <li>Font icons inherit the color of their parent text.</li>
          <li>The generated font named <strong>{{ scssIcons.fontname }}</strong> will be <a href="https://github.com/webpack-contrib/url-loader" target="_blank">base64 inlined</a> into the output CSS.</li>
        </ul>
      </div>
    </div>

    <div class="d-flex align-items-center flex-wrap" style="min-height: 10rem;">
      {% for icon in scssIcons.icons %}
        <div class="col p-3 text-center">
          <i class="icon {{ scssIcons.prefix }}{{ icon }}"></i>
          <i class="icon {{ scssIcons.prefix }}{{ icon }} text-primary" style="font-size: 1.5rem;"></i>
          <i class="icon {{ scssIcons.prefix }}{{ icon }} bg-dark text-white" style="font-size: 2rem;"></i>
          <p class="w-100 pt-3" style="white-space: nowrap;"><code>{{ icon }}</code></p>
        </div>
      {% endfor %}
    </div>


    <div class="card text-light bg-secondary mb-3">
      <div class="card-body">
        <h4 class="card-title">Font Awesome</h4>
        <p class="card-text"><a href="http://fontawesome.io/examples/" target="_blank">Font Awesome</a> icons are also available for use inside patterns.</p>
        <p>These can be easily added to inline elements (we recommend using <b>span</b> or <b>i</b> tags) with two classes: <code>fa</code> and <code>fa-icon-name</code>.</p>

        <p>Font awesome icons can also be implemented in Sass, in just two lines:
          <code>@include fa-icon();</code>
          <code>content: $fa-icon-name;</code>
        </p>

        <p>See _icon.scss for an example of how the Sass approach works.</p>

        <p>There are currently 675 icons available from <a href="http://fontawesome.io/examples/" target="_blank">Font Awesome</a>, sky's the limit.</p>
      </div>
    </div>

    <div class="d-flex align-items-center flex-wrap" style="min-height: 10rem;">
      <div class="col p-3 text-center">
        <i class="fa fa-battery-full"></i>
        <i class="fa fa-battery-full text-primary" style="font-size: 1.5rem;"></i>
        <i class="fa fa-battery-full bg-dark text-white" style="font-size: 2rem;"></i>
        <p class="w-100 pt-3" style="white-space: nowrap;"><code>fa fa-battery-full</code></p>
      </div>

      <div class="col p-3 text-center">
        <i class="fa fa-moon-o"></i>
        <i class="fa fa-moon-o text-primary" style="font-size: 1.5rem;"></i>
        <i class="fa fa-moon-o bg-dark text-white" style="font-size: 2rem;"></i>
        <p class="w-100 pt-3" style="white-space: nowrap;"><code>fa fa-moon-o</code></p>
      </div>

      <div class="col p-3 text-center">
        <i class="fa fa-medkit"></i>
        <i class="fa fa-medkit text-primary" style="font-size: 1.5rem;"></i>
        <i class="fa fa-medkit bg-dark text-white" style="font-size: 2rem;"></i>
        <p class="w-100 pt-3" style="white-space: nowrap;"><code>fa fa-medkit</code></p>
      </div>

      <div class="col p-3 text-center" style="max-width: 240px;">
        <i class="fontawesome-example"></i>
        <i class="fontawesome-example text-primary" style="font-size: 1.5rem;"></i>
        <i class="fontawesome-example bg-dark text-white" style="font-size: 2rem;"></i>
        <p class="w-100 pt-3" style="white-space: nowrap; display: flex; flex-direction: column;"><code>@include fa-icon();</code><code>content: $fa-var-train;</code></p>
      </div>

      <div class="col p-3 text-center" style="max-width: 240px;">
        <i class="fontawesome-example2"></i>
        <i class="fontawesome-example2 text-primary" style="font-size: 1.5rem;"></i>
        <i class="fontawesome-example2 bg-dark text-white" style="font-size: 2rem;"></i>
        <p class="w-100 pt-3" style="white-space: nowrap; display: flex; flex-direction: column;"><code>@include fa-icon();</code><code>content: $fa-var-compass;</code></p>
      </div>

      <div class="col p-3 text-center" style="max-width: 240px;">
        <i class="fontawesome-example3"></i>
        <i class="fontawesome-example3 text-primary" style="font-size: 1.5rem;"></i>
        <i class="fontawesome-example3 bg-dark text-white" style="font-size: 2rem;"></i>
        <p class="w-100 pt-3" style="white-space: nowrap; display: flex; flex-direction: column;"><code>@include fa-icon();</code><code>content: $fa-var-apple;</code></p>
      </div>
    </div>

  {% endblock column_1 %}
