{% macro input(name, type, classes, label, placeholder, value, size, required) %}
  <div class="field-container {{ classes }}">
    {% set required_title %}
      {% if required %}
        <abbr title="{{ 'Required'|t }}">*</abbr>
      {% endif %}
    {% endset %}

    <label class="{{ classes }}">{{ label|default(name|title) }} {{ required_title }}</label>

    <input type="{{ type|default('text') }}"
      name="{{ name }}"
      placeholder="{{ placeholder|default(name|title) }}"
      value="{{ value|e }}"
      size="{{ size|default(20) }}"
      {{ required ? 'required' }} />
  </div>
{% endmacro %}

{% macro textarea(label, placeholder, rows, classes, required) %}
  <div class="field-container {{ classes }}">
    {% set required_title %}
      {% if required %}
        <abbr title="{{ 'Required'|t }}">*</abbr>
      {% endif %}
    {% endset %}

    <label class="{{ classes }}">{{ label|default(name|title) }} {{ required_title }}</label>

    <textarea placeholder="{{ placeholder|default(name|title) }}"
      rows="{{ rows|default(8) }}"
      {{ required ? 'required' }}></textarea>
  </div>
{% endmacro %}
