{% extends '@atoms/grid/_grid-4-up.twig' %}
{# This presumes the main content area already contains a class of container. #}
{% set container = false %}

{% block column_1 %}
  <div {{ region_attributes.first }}>
    {{ content.first }}
  </div>
{% endblock %}
{% block column_2 %}
  <div {{ region_attributes.second }}>
    {{ content.second }}
  </div>
{% endblock %}
{% block column_3 %}
  <div {{ region_attributes.third }}>
    {{ content.third }}
  </div>
{% endblock %}
{% block column_4 %}
  <div {{ region_attributes.fourth }}>
    {{ content.fourth }}
  </div>
{% endblock %}
