{#
  Alert!

  type: String: status | warning | error: The type of error to display.
  alert_degree: String (optional): The degree of error. Set via Type for Accessibility.
  alert_title: String: The heading value of the Alert.
  alert_primary: String: The paragraph value of the Alert.
  alert_secondary: String (optional): The value of the footer.

  see https://getbootstrap.com/docs/4.0/components/alerts/
#}

{% set status_classes = {
  'status': 'success',
  'error': 'danger',
  'warning': 'warning',
  'info': 'info',
  }
%}

{% set alert_classes = [
  'mb-0',
  'alert',
  'alert-' ~ status_classes[type],
  'alert-dismissible',
  'fade',
  'show',
  alert_other_classes,
] | sort | join(' ') | trim %}

{% set alert_degree = ( type == 'error' ? 'role=alert' : 'aria-live=polite' ) %}

<div class="{{ alert_classes }}" {{ alert_degree }}>
  {% block alert_header %}
    <a href="#" role="button" class="close" data-dismiss="alert" aria-label="{{ 'Close'|t }}"><span aria-hidden="true">&times;</span></a>
    <h4 class="alert-heading">{{ alert_title }}</h4>
  {% endblock alert_header %}
  {% block alert_content %}
    <p>{{ alert_primary }}</p>
  {% endblock alert_content %}
  {% block alert_footer %}
    {% if alert_secondary %}
      <hr>
      <p class="mb-0">{{ alert_secondary }}</p>
    {% endif %}
  {% endblock alert_footer %}
</div>
