{#
  Nav Item!

  nav_item_link: String: The URL the nav item will lead to.
  nav_item_element: String: The nav-item's html element.
  nav_item_js: Boolean: True|False: Choose whether to use bootstrap's built-in nav javascript.
  nav_item_aria: DO NOT SET
  js_attributes: DO NOT SET
  nav_item_id: String: The nav item's id html element.
  nav_item_text: String: The nav item's text.
  nav_item_link_classes: Array: The html classes for the nav-item.
  nav_item_link_other_classes: Array: The classes from YAML to merge into nav_item_link_classes.
#}

{% set nav_item_link = nav_item_link | default('#') %}
{% set nav_item_element = nav_item_element | default('li') %}

{% set nav_item_classes = nav_item_classes|default([])|merge([
  'nav-item',
]) | sort | join(' ') | trim %}

{% set nav_item_link_classes = nav_item_link_other_classes|default([])|merge([
  'nav-link',
]) | sort | join(' ') | trim %}

{% if nav_item_js %}

  {% set nav_item_aria = (nav_item_link_classes == 'active') ? 'aria-selected="true"' : 'aria-selected="false"' %}

  {% set js_attributes = [
    'id="' ~ nav_item_id ~ '"',
    'data-toggle="tab"',
    'role="tab"',
    'aria-controls="' ~ nav_item_text ~ '"',
  ] | sort | join(' ') | trim %}

{% endif %}

{% if nav_item_element == 'li'  %}
  <li class="{{ nav_item_classes }}">
    <a class="{{ nav_item_link_classes }}" href="{{ nav_item_link }}" {{ js_attributes }} {{ nav_item_aria }}>{{ nav_item_text }}</a>
  </li>
{% elseif nav_item_element == 'a' %}
  <a class="{{ nav_item_link_classes }}" href="{{ nav_item_link }}">{{ nav_item_text }}</a>
{% endif %}
