{#
/**
 * @file
 * Custom Header.
 */
#}
  {{ attach_library('utccloud/utc-brandbar-menus') }}

<header class="header header--{{ themag.header_style|clean_class }}">

  <div class="header__container-wrapper--header__main js-sticky-header-element">
    <div class="header__container pt-2 main-navigation-bar" id="utc-main-header">
      <div class="header__main" >
        <div class="header__main__left">
          {{ page.logo }}
        </div>
        <div class="header__main__right">
          {% include '@themag/base-layout/header/components/user-action-menu.html.twig' %}
          <div class="give-button">
            <a href="https://securelb.imodules.com/s/1341/utc/form/19/form.aspx?sid=1341&gid=3&pgid=4310&cid=6419" >Give</a>
          </div>
        </div>
      </div>
    </div>

    <div class="header__container ">
      <div class="header__main justify-right h-14 py-0" id="utc-main-nav">
        <div class="header__main__left cl-effect-10">
            <div id="apply-now-button">
                <a href="https://webapp.utc.edu/apply/" data-hover=" Go Mocs!"><span>Apply Now</span></a>
            </div>
        </div>
        <div class="header__main__right">
          <div class="movable-nav">
            {{ page.header_primary_menu }}
            {{ page.header_secondary_menu }}
          </div>
        </div>
      </div>
    </div>

    {{ page.search }}
  </div>

</header>



