{#
/**
 * @file
 * Error 403 page.
 */
#}


{# Set classes on the main region depending on whether has right sidebar or not. #}
{% set main_region_classes = ['col-12'] %}
{% if page.content_right %}
  {% set main_region_classes = ['col-12', 'col-lg-8', 'mb-6', 'mb-lg-0'] %}
{% endif %}

<div class="layout-container">
  {# Include header and header regions #}
  {% block header %}
    {% include '@themag/base-layout/header/header.html.twig' %}
  {% endblock %}

  {% block offcanvas_sidebar %}
    {{ page.offcanvas_sidebar }}
  {% endblock %}

  {% block page_content %}
    <div class="container my-6">
      {% block content_top %}
        {% if page.content_top %}
          <div class="row">
            <div class="col-12">
             {{ page.content_top }}
            </div>
          </div>
        {% endif %}
      {% endblock %}

      {% block content_main %}
        <div class="row">
          <div class="{{ main_region_classes | join(' ') }}">
            {% block content_administration %}
              {{ page.content_administration }}
            {% endblock %}
            {% block content %}
              {{ page.content }}
            {% endblock %}
          </div>
          {% if page.content_right %}
            <div class="col-12 col-lg-4 js-sticky-container">
              {{ page.content_right }}
            </div>
          {% endif %}
        </div>
      {% endblock %}

      {% block content_bottom %}
        {% if page.content_bottom %}
          <div class="row">
            <div class="col-12 mt-4 mb-4 mt-lg-9 mb-lg-6">
              {{ page.content_bottom }}
            </div>
          </div>
        {% endif %}
      {% endblock %}
    </div>
  {% endblock %}

  {# Include footer and footer regions #}
  {% block footer %}
    {% include '@themag/base-layout/footer/footer.html.twig' %}
  {% endblock %}
</div>{# /.layout-container #}
