{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('sidebar-menu') }}>
    {% else %}
      <ul class="sidebar-menu">
    {% endif %}
    {% for item in items %}
      {%
        set classes = [
          'menu-item-sidemenu',
          item.is_expanded ? 'menu-item--expanded',
          item.is_collapsed ? 'menu-item--collapsed',
          item.in_active_trail ? 'menu-item--active-trail open',
      ]
      %}
      {% set arialabel = item.link_title|default(item.title)|e %}
      {% set role = 'link' %}
      {% set link_title = item.title|clean_class %}

      {% if item.is_expanded or item.is_collapsed %}
        {% if item.in_active_trail %}
          <li{{ item.attributes.addClass(classes).setAttribute('data-title', link_title) }} >
            {{ link(item.title, item.url, item.attributes.setAttribute('title', link_title).setAttribute('aria-label', arialabel).setAttribute('role', role)) }}
            <div aria-hidden="true" class="more open"><i class="fas fa-angle-right text-new-utc-gold-500"></i></div>
            {% if item.below %}
              {{ menus.menu_links(item.below, attributes, menu_level + 1, item.attributes.setAttribute('title', link_title).setAttribute('aria-label', arialabel).setAttribute('role', role)) }}
            {% endif %}
          </li>
        {% else %}
          <li{{ item.attributes.addClass(classes).setAttribute('data-title', link_title) }} tabindex="{{ counter }}">
            {{ link(item.title, item.url, item.attributes.setAttribute('title', link_title).setAttribute('aria-label', arialabel).setAttribute('role', role)) }}
            <div aria-hidden="true" class="more closed"><i class="fas fa-angle-right text-new-utc-blue-500"></i></div>
            {% if item.below %}
              {{ menus.menu_links(item.below, attributes, menu_level + 1, item.attributes.setAttribute('title', link_title).setAttribute('aria-label', arialabel).setAttribute('role', role)) }}
            {% endif %}
          </li>
        {% endif %}
      {% else %}
        <li{{ item.attributes.addClass(classes).setAttribute('data-title', link_title) }} tabindex="{{ counter }}">
          {{ link(item.title, item.url, item.attributes.setAttribute('title', link_title).setAttribute('aria-label', arialabel).setAttribute('role', role)) }}
          {% if item.below %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1, item.attributes.setAttribute('title', link_title).setAttribute('aria-label', arialabel).setAttribute('role', role)) }}
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
