<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="en">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />

		<link rel="icon" type="image/png" href="{{ paths.assets }}/favicons/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="{{ paths.assets }}/favicons/favicon-32x32.png" sizes="32x32">

		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{{ patternLabHead | raw }}
		<!-- End Pattern Lab -->

    <link rel="stylesheet" href="{{ paths.assets }}/app-pl.styles.css">

  </head>
	<body class="{{ bodyClass }}">
